<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name=viewport content="width=1170">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The BGRG - The Black Gay Research Group</title>
    <link rel="icon" type="image/png" href="{{ asset('bundles/sitewebfront/img/bgrg_favicon.jpg') }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    <link href="{{ asset('bundles/sitewebfront/css/custom.css') }}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-53782317-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

    <style>
        .announce{width:700px;margin-top:-7px;float:left;text-align: center;}
        .announce>p{color: red;font-size:18px;width:540px;float:left;}
        .announce>p:first-child{font-size:24px;line-height:20px;}
        .announce>img{float:right;margin-top:-18px;}
        .splash{text-align: center;color:#ffffff;}
        .disclosure{font-size:11px;text-align: center;}
        .banners{padding:0px 0;}
        .contlink{text-decoration: none;color:#ffffff;}
        .contlink:hover{text-decoration: none;color:#c9802d;}
        .developedby{text-decoration: none;color:#414042;cursor:pointer;display:block;font-size:11px;text-align: center;}
        .developedby:hover{color:#79232e;}
    </style>
</head>
<body>
<div class="page-wrapper">
    <div class="main-header">
        <div class="wrapper">
            <h1 class="logo-header"><a href="/">The BGRG logo</a></h1>
            <h2>The<br/>Black<br/>Gay<br/>Research<br/>Group</h2>
            <h3>Advancing an<br/>agenda for research,<br/>policy and service, in<br/>the interest of black<br/>gay men.</h3>
            <ul class="social-link">
                <div>
                    <li class="facebook"><a href="#">Facebook</a></li>
                    <li class="linkedin"><a href="#">Linkedin</a></li>
                </div>
                <div>
                    <li class="twitter"><a href="#">Twitter</a></li>
                    <li class="email"><a href="#">Email</a></li>
                </div>
            </ul>
            <form class="search-box" style="visibility:hidden;">
                <input type="search" name="main-search">
                <input type="submit" value="search">
            </form>
            <div class="navigation">
                <div class="login">
                    {% if app.user %}
                        <p><a href="{{ path('fos_user_profile_show') }}">{{ app.user.fname }} {{ app.user.lname }}</a></p>
                        <span>/</span>
                        <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                    {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Login</a>
                    <span>/</span>
                    <a href="{{ path('fos_user_registration_register') }}">Become a Member</a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
                <ul class="menu" style="visibility: hidden;">
                    <li><a href="#">About Us</a>
                        <!-- First Tier Drop Down -->
                        <ul>
                            <li><a href="./?page=about-us-mission">Mission</a></li>
                            <li><a href="./?page=about-us-our-work">Our Work</a></li>
                            <li><a href="./?page=about-us-research-agenda">Research Agenda</a></li>
                            <li><a href="./?page=about-us-posts">Posts</a></li>
                            <li><a href="./?page=about-us-our-services">Our Services</a></li>
                            <li><a href="./?page=about-us-bgrg-summit">BGRG Summit</a>
                                <!-- Second Tier Drop Down -->
                                <ul>
                                    <li><a href="./?page=about-us-bgrg-summit-atlanta2015">Atlanta 2015</a>
                                    <li><a href="./?page=about-us-bgrg-summit-newolreans2012">New Orleans 2012</a>
                                    <li><a href="./?page=about-us-bgrg-summit-atlanta2010">Atlanta 2010</a>
                                    <li><a href="./?page=about-us-bgrg-summit-newyork-2005">New York 2005</a>
                                    <li><a href="./?page=about-us-bgrg-summit-newyork-2003">New York 2003</a>
                                </ul>
                            </li>
                            <li><a href="./?page=about-us-bgrg-summit">Annual Reports</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Members</a>
                        <!-- First Tier Drop Down -->
                        <ul>
                            <li><a href="./?page=members-board-of-directors">Board of Directors</a></li>
                            <li><a href="./?page=members-comitees">Commitees</a></li>
                            <li><a href="./?page=members-affilaiate-members">Affiliate Members</a></li>
                            <li><a href="./?page=members-founding-members">Founding Members</a></li>
                            <li><a href="./?page=members-all-members">All Members</a></li>
                            <li><a href="./?page=members-organizational-members">Organizational Members</a></li>
                            <li><a href="./?page=members-membership">Become a Member</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Support</a>
                        <!-- First Tier Drop Down -->
                        <ul>
                            <li><a href="./?page=support-advertise">Advertise</a></li>
                            <li><a href="./?page=members-membership">Become a member</a></li>
                            <li><a href="./?page=support-donate">Donate</a></li>
                            <li><a href="./?page=support-job-opportunities">Job Opportunities</a></li>
                            <li><a href="./?page=support-volunteer">Volunteer</a></li>
                        </ul>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <h4 class="header-banner"><a class="summit2015" target="_blank" href="http://bgrgsummit.com/register"><img src="{{ asset('bundles/sitewebfront/img/summit_banner.png') }}"></a></h4>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-content">
            <div class="wrapper">
                <!-- HERE IS THE PAGE CONTENT INCLUDE-->
                {% block content %}{% endblock %}
                <!-- HERE IS THE END OF CONTENT INCLUDE-->
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- FOOTER -->
    <div class="footer">
        <div class="wrapper">

            <div class="credits">
                <h1 class="logo-footer"><a href="/">The BGRG logo</a></h1>
                <div class="logo-tag">
                    <h2>The Black Gay Research Group</h2>
                    <h3>Advancing an agenda for research, policy and service, in the interest of black gay men.</h3>
                </div>
                <ul class="social-link">
                    <div>
                        <li class="facebook"><a href="#">Facebook</a></li>
                        <li class="linkedin"><a href="#">Linkedin</a></li>
                    </div>
                    <div>
                        <li class="twitter"><a href="#">Twitter</a></li>
                        <li class="email"><a href="#">Email</a></li>
                    </div>
                </ul>
                <a class="banner" target="_blank" href="http://bgrgsummit.com/register/">H3|UCLA Summit 2015</a>
                <div class="clearfix"></div>
                <p class="disclosure">The Black Gay Research Group. BGRG Summit. 2014 All Rights Reserved. <span>Developed by DaTerra Systems</span></p>
            </div>


            <ul  style="visibility: hidden;">
                <li><a href="#">About Us</a>
                    <ul>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Our Work</a></li>
                        <li><a href="#">BGRG Summit</a></li>
                        <li><a href="#">Research Agenda</a></li>
                        <li><a href="#">Annual Reports</a></li>
                        <li><a href="#">Posts</a></li>
                    </ul>
                </li>
                <li><a href="#">Members</a>
                    <ul>
                        <li><a href="#">Board of Directors</a></li>
                        <li><a href="#">Commitees</a></li>
                        <li><a href="#">Affiliate Members</a></li>
                        <li><a href="#">Founding Members</a></li>
                        <li><a href="#">All Members</a></li>
                        <li><a href="#">Become a Member</a></li>
                        <li><a href="#">Organizational Member</a></li>
                    </ul>
                </li>
                <li><a href="#">Support</a>
                    <ul>
                        <li><a href="#">Advertise</a></li>
                        <li><a href="#">Become a member</a></li>
                        <li><a href="#">Donate</a></li>
                        <li><a href="#">Job Opportunities</a></li>
                        <li><a href="#">Volunteer</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</body>
</html>