{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Moderators</h1>          
            <p></p>
          </div>
          
          <div class="col1of3 autocontent autocontent220">
            <a name="LaronNelson" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/LeRon.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Dr. Nelson Laron, PhD</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Dr. Nelson is currently the inaugural Dean’s Endowed Fellow in Health Disparities and Assistant Professor of Nursing at the University of Rochester. He is also Associate Director of International Research in the University of Rochester Center for AIDS Research. His research focuses on the primary prevention of HIV and other sexually transmissible infections among social marginalized groups within African and African Diaspora communities, including men who have sex with men (MSM). </p>
                <p>Dr. Nelson’s current research projects are the Kumasi & Accra Project to Prevent AIDS (KAPPA) in Ghana, KALI Black Men’s Study in Toronto (Canada) and the HIV Prevention Trials Network 073—a multisite study examining associations between a client-centered care coordination intervention and pre-exposure prophylaxis initiation and adherence among Black MSM in 3 US cities. His work with MSM is primarily concerned with understanding social and structural factors that influence HIV infection with the goal of generating knowledge that can be used in developing interventions that address social/structural factors as part of integrated (e.g., behavioral, biomedical, social/structural) STD/HIV prevention strategies designed for local communities. His career has always been grounded in public health, starting as a registered nurse at the Monroe County Department of Public Health STD clinic, to working as a family nurse practitioner in an inner-city community health center, and on to serving as Associate Director of Public Health for Monroe County (Rochester), New York.</p>
                <p>Dr. Nelson has held academic appointments at prestigious universities around the world including the as assistant professor of nursing University of Toronto and visiting professor in the University of California San Francisco Center for AIDS Prevention Studies. He is the Chair of the Black Gay Research Group and a founding member of the Black Canadian Queer Research Network. Dr. Nelson is a Fellow and Distinguished Practitioner in the U.S. National Academies of Practice and in 2011 was named one of Canada’s Rising Stars in Global Health for his HIV prevention research in Ghana.</p>
                
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Sanford E. Gaylord" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Sanford.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Sanford E. Gaylord</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Sanford E. Gaylord has worked in the field of HIV/AIDS for more than twenty years, from community-based organizations, biomedical and behavioral research, to implementation of state and federal programs and initiatives. He currently serves as the HIV/AIDS Regional Resource Coordinator with the Regional Resource Network Program at the U.S. Dept. of Health and Human Services - Region V. Sanford is a Community Advisory Board member for the Chicago Developmental Center for AIDS Research, voting member of the Chicago Area HIV Integrated Services Council and member of the Black Gay Research Group. Sanford co-founded A Real Read, an African-American LGBT performance ensemble, inducted into the Chicago Gay and Lesbian Hall of Fame in 2007; he was inducted as an individual in 2012. He co-starred in the award-winning three-part film series Kevin’s Room, which received accolades for its realistic, positive portrayal of LGBT people of color and their allies. Sanford’s contributions to the LGBT movement are profiled at Chicago Gay History.com.</p>
                
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          
          <div class="col1of3 autocontent autocontent220">
            <a name="Micah" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Micah.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Micah Lubensky, PhD</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Micah Lubensky earned his PhD in Social Psychology from the University of California at Santa Cruz. He has focused his professional career on the application of social psychology for promoting holistic health and social justice. He spent almost 10 years at the San Francisco AIDS Foundation, managing HIV prevention, holistic health promotion, and community building efforts for MSM and trans community members of African descent from across the San Francisco Bay Area. Micah has also been a national trainer and Capacity Building Assistance consultant for HIV prevention interventions endorsed by the US Centers for Disease Control and Prevention.  Since March 2014, Micah has been the Community Mobilization Manager at the Global Forum on MSM & HIV (MSMGF), based in Oakland, California. At MSMGF, Micah facilitates international Capacity Building and Technical Assistance efforts to support organizations that offer HIV/AIDS service and prevention, and promote LGBT human rights. He also contributes to various MSMGF policy and research initiatives, including the Global Men’s Health and Rights (GMHR) Survey. Micah has been a proud member of the Black Gay Research Group since joining in 2005.</p>
                
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Miller" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Miller.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Robert L. Miller Jr., PhD</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Dr. Miller teaches social work practice courses (Micro 1 and 2), Cultural Diversity in Social Work, Spirituality and Social Work; as well as the African Policy and Social Work in the MSW program.  As the Director of The US Africa Partnership to Build Stronger Communities,  he manages the study tour portion of the African Policy course.  This annual educational and cultural travel opportunity to various regions in Sub-Saharan and eastern Africa examines and interrogates the policies undergirding the provision of social work services in the areas of child welfare, gender rights and HIV disease.</p>
                <p>His work also includes consultancies with state and federal agencies in the areas of mental health, spirituality, and HIV disease.  Most recently, he participated in the White House Office on National AIDS Policy Summit.</p>
                <p>Dr. Miller has held visiting professor appointments at Addis Ababa University and Barhir Dar University (Ethiopia) and in the Center for AIDS Prevention Studies, University of California, San Franscisco Medial School.
                Dr. Miller received a Ph.D. from Columbia University; M.Phil. from Columbia University; Certification in Health Policy and Administration-Columbia University; M.S.W. from University of Pennsylvania.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div> 

          <div class="col1of3 autocontent autocontent220">
            <a name="Vaughn" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Vaughn.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Vaughn Taylor-Akutagawa</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Vaughn Taylor-Akutagawa is a dedicated and experienced social activist, entrepreneur and community researcher. His educational and experiential background has found him working in the fields of medicine, dance, publishing, and social entrepreneurship.</p>
                <p>Mr. Taylor-Akutagawa’s 22 years of practical experience as a professional in the field of social services gives workshop attendees practical insight into various cultural and ethnic groups that form the basis of contemporary American society. Mr. Taylor’s workshops also go far beyond the topic of cultural sensitivity, providing specialized work in the areas of institutional psychology, organizational development, program planning and design.</p>
                <p>Mr. Taylor-Akutagawa is known for designing, developing, and delivering ethnocentric programs in most of the Western states with large non-White populations. He understands community mobilization, coalition building, capacity building and individual inspiration.</p>
                <p>Currently working in New York City, Mr. Taylor-Akutagawa is the Chief Executive of Imhotep Solutions and the Executive Director of Gay Men of African Descent, Inc. Imhotep Solutions is a burgeoning ethnocentric consultancy dedicated to making men’s health matter by focusing on the multidimensional man.</p>
                <p>Highlights of his career include being an alumnus of CDC/ASPH Institute of HIV Prevention Leadership, working with Cornell University and CDC on concept mapping the term and praxis for syndemics. Mr. Taylor-Akutagawa is also employed as the HIV and Older Adults Technical Assistance Manager for AID Community Research Initiative of America (ACRIA).</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>     

          <div class="col1of3 autocontent autocontent220">
            <a name="Ortiz" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Ortiz.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Christopher Huck-Ortiz, MPH</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Christopher Hucks-Ortiz, MPH, is an Evaluation Specialist and currently works at JWCH Institute Inc, an FQHC in the Los Angeles area.  Mr. Hucks-Ortiz uses his expertise in the areas of Community Based HIV Prevention Research to assess the impact of federally funded protocols on disenfranchised communities (incl. homeless; women of color; and young Black and Latino MSM).  Mr. Hucks-Ortiz has more than 17 years of experience in the development, implementation, and management of community-based clinical trials targeting those at high risk for HIV acquisition.  He has served as a Project Director for the HIV Prevention Trials Network (HPTN) 061 study, a large multisite, multicomponent clinical trial of Black gay and bisexual men, and has been an active member of the NIH-funded HPTN Black Caucus since its inception 5 years ago.  The role of the Black Caucus is to help to ensure the cultural competence of clinical trials as related to Black Men who have Sex with Men (MSM) and trans-women through the HPTN.  In addition to his own research work, Mr. Hucks-Ortiz also counsels other researchers to ensure cultural capacity and community-based research.  He is also the current President of the Black Los Angeles HIV/AIDS Coalition (BLAAC), a body of local activists and advocates who focus on promoting the needs of Black communities regarding HIV prevention and care.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Kali" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Kali.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Kali Lindsey</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Kali Lindsey joined amfAR as deputy director of public policy in January 2014 and is based in the Washington, D.C. office. Lindsey has spent more than a decade of his professional career in HIV/AIDS program development and advocacy, both at the Federal and local level. Lindsey is an appointed member of the CDC/HRSA Advisory Committee (CHAC) on HIV/AIDS, Hepatitis, and Sexually Transmitted Diseases where he co-chaired an external review of youth sexual health programs at the Centers for Disease Control with the late Dr. Doug Kirby.  Prior to joining amfAR, Lindsey directed legislative and public affairs at the National Minority AIDS Council where he led the development of the Declaration and Summit to End the HIV/AIDS Epidemic in the U.S. and released the RISE Proud: Action Plan for Combatting HIV Vulnerability Among Black Gay and Bisexual Men. Lindsey also previously held senior positions at the Harlem United Community AIDS Center in New York, NY and the former National Association of People with AIDS.</p>
                <p>Lindsey received a bachelor degree from Eastern Michigan University and devoted his career to advancing access to care, effective treatment, and improved quality of life for all people living with HIV and human rights for all gay, lesbian, bisexual, and transgender men and women. </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div> 

          <div class="col1of3 autocontent autocontent220">
            <a name="Michael" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Michael.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Michael Roberson</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                  
                <p>Michael Roberson is a public health practitioner, advocate, activist and leader within the LGBTQ community.  With a focused commitment on the health disparities of Black gay men and Black gay men within the House/ball community Michael created The Federation of Ballroom Houses, co -created the nation’s only Black Gay research Group, The National Black Gay Men’s Advocacy Group, and the Nationally Diffused CDC Behavioral Change HIV Prevention Intervention “ Many Men, Many Voices.”  Michael was also the Executive Director of one of the largest black gay community based organizations, and currently is a consultant working with several national community based organizations focused on national HIV Clinical Trial/Bio-medical, and Home grown evidence based interventions, as well as national community capacity building assistance and mobilization strategies designed to combat the disproportionate health disparities impacting both the black gay and black/Latino lgbt house ball communities. </p>
                <p>Michael graduated with his MDIV from Union Theological Seminary, and currently completed his STM (Masters of Sacred Theology) at Union as well.  While at Union, Michael presented two thesis projects.  His MDIV thesis project was a theatrical reading of a play called The Anointed, written by young black gay playwright Germono Toussaint.  The project examined systemic homophobia in the Black church stemming from religious dogma that institutionalizes homophobia in Black communities, leaving indelible marks of pain, misery and damage on the collective soul, spirit and material bodies of the Black GLBT community, and directly impact the health disparities of this community, particularly, Black gay men. The Thesis Project’s aim was to engage this question by bringing heightened awareness of the historical trauma inflicted on Black GLBT individuals by the homophobic hegemony intrinsic in Black church experience and to encourage enlightened conversation that will advance healing for Black GLBT people and within the Black community.  His STM’s Thesis Project was examining the multi-dimensional and intersected labors of oppression impacting the house/ball community.  It further examined the community’s history of resistance to oppression and their ability to use performance as a hermeneutics of the body as a means of resiliency.  Thesis Advisors: DR. Gary Dorrien, Reinhold Niebuhr Professor of Social Ethics, Union Theological Seminary-Columbia University, and Reverend Dr. Eboni Marshal Turman, Director of Black Church Studies, Duke University.  In addition to his many roles as activist and leader Michael is a sought after lecturer nationally and internationally, manages Vogue Evolution, a national dance crew engaging in social justice and HIV Prevention through vogue.  Above all Michael is a father to many men and women within the House/ball community, as well as, Co-instructs a course on the history of the house/ball community at the New School University in New York City.  Michael is looking to PHD work with a inter-disciplinary focus on Theological Social/Sexual Ethics and African-American History.  He is the a member of The International Sound Art Collective Ultra Red as well as the newly selected Scholar in Residence for The Center for Race Religion and Economic Democracy (CRRED) at Union Theological Seminary for the Academic year of 2014-2015.  This post is under the auspices of Charlene Sinclair, PHD Candidate, creator and founder of CRRED.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>  

          <div class="clearfix"></div>
          
          


{%endblock%}



