{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}



    <div class="page-top">
        <h1 class="page-title btn-yellow-100">Login</h1>
        <p></p>
    </div>


    <main class="signin">
        <div class="auto-alerts">
            {% if error %}
                <div class="error">
                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                </div>
            {% endif %}
            {% for type, messages in app.session.flashBag.all %}
            <div class="error">
                {% for message in messages %}
                    {{ message|trans({}, 'FOSUserBundle') }}<br>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <section class="highlights">
            <header>
                <h1>The UCLA H3 / BGRG SUMMIT is open for registration !</h1>
            </header>
            <a class="banner br333" href="{{ path('fos_user_registration_register') }}">Register now and get a discount for NAESM</a>
            <div class="clearfix"></div>
            <a class="banner br349" href="{{ path('summit_abstracts') }}">Submit an abstract to be included in the program!</a>
            <div class="clearfix"></div>
            <!--<a class="banner br415" href="#">Nominate a community member for an well-deserved award!</a>-->
            <div class="clearfix"></div>
            <!--<a class="banner br430" href="#">Make your travel plans!  We look forward to see you in Atlanta!</a>-->
        </section>

        <section class="forms col1of3">
            <article class="login box">
                <header>
                    <h1>Log In</h1>
                </header>
                <p style="font-size:15px;text-align:center;color:red;">You can also use your TheBGRG.org account</p>
                <form action="{{ path("fos_user_security_check") }}" method="post" >
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">Email: </label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    <div class="clearfix"></div>
                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" required="required" />
                    <div class="clearfix"></div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me" style="width:120px;">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    <div class="clearfix"></div>
                    <input class="btn-submit btn-red-146" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    <a href="/resetting/request" class="btn-submit btn-red-146">Reset Password</a>
                </form>
            </article>
        </section>
    </main>
{%endblock%}
