{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Agenda<i class="fa fa-chevron-circle-right"></i>
</h1>          
            <p></p>
          </div>
          <div class="col12of12 agenda">
            
            <section>
              <time>8:00 – 9:00 AM</time>
              <div class="subsession">
                <p class="maintitle">Registration/Check-In/Continental Breakfast<i class="fa fa-chevron-circle-right"></i></p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section> 

            <section>
              <time>9:00 – 9:15 AM</time>
              <div class="subsession">
                <p class="maintitle">Welcome! Dr. Leo Wilton, Dr. LaRon Nelson, and Mr. Craig Hutchinson</p>
                <p></p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>9:15 – 10:30 AM</time>
              <div class="subsession">
                <p class="maintitle">Advances in HIV Prevention Research (Panel I). Moderator: Christopher Hucks-Ortiz</p>
              
                  <p>Mark Paige, New York Blood Center, NY. Correlates of HIV Stigma and Homophobia among Residents of a High HIV Prevalence Urban Area: Baseline Results of Project CHHANGE.</p>
                  </br>
                  <p>DaShawn Usher, New York Blood Center. Hooking Up with New Ways to Engage MSM: Using Grindr in HIV Prevention Programing and Research. </p>
                  </br>
                  <p>Dr. Josephine Pui-Hing Wong, Ryerson University. Reducing HIV Stigma in African, Caribbean, Asian and Latino Communities: Insights from the CHAMP Intervention Study.</p>
                  </br>
                  <p>Dr. Marlon Bailey, Indiana University Bloomington. The Impact of family dynamics on the sexual self-hood of gay, black men across the life-course: Implications for HIV Prevention. </p>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Hope, Health and Healing in the Lives of Black Same Gender Loving Men: Historical Perspectives. Moderator: Dr. Micah Lubensky</p>
               
                  <p>Ron Simmons, Us Helping Us.</p><br/>
                  <p>Cleo Manago, AmASSI Health and Cultural Centers</p><br/>
                  <p>Christopher Bates, Florida Department of Health Broward County</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>10:30 – 11:45 AM</time>
              <div class="subsession">
                <p class="maintitle">Education &amp; Agency. Moderator: Vaughn Taylor-Akutagawa</p>
                <p>
                  <p>Lance McCready, University of Toronto. Young Black MSM Living and Learning in Canadian Cities.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/McCready.pdf')}}"></a></p><br/>
                  <p>Ed Brockenbough, University of Rochester. Bitch, You Need to Stand Up for Yourself²: Black and Latino Queer Youth and Homophobic Violence in Urban Schools.</p><br/>
                  <p>Tomas Boatwright, University of Rochester. Testimonies of Black Queer Students navigating school.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Tomas.pdf')}}"></a></p><br/>
                  <p>Darrell Hucks, Keene State College. New Visions of Collective Achievement: the Cross-Generational Schooling Experiences of African American Males. </p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">International Contexts, African Diasporic Inquiry, and Human Rights. Moderator: Dr. LaRon E. Nelson</p>
                <p>
                  <p>Cilas Kemedjio, U. of Rochester, Frederick Douglas Inst. of African and African American Studies. Homophobia in Africa and the Humanitarian Order of Discourse: Of Vampires, Neocolonialists, and Fundamentalists.</p><br/>
                  <p>Orlando Harris, University of Rochester. Presenting yourself too ‘loud’ could get you killed”: Understanding Jamaican Masculinity and the Cultural Rejection of Effeminate Gay Men.   <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Harris.pdf')}}"></a></p><br/>
                  <p>Ron Simmons, Us Helping Us. Cultural Concepts of Gays and Lesbians Among the Dagara people of West Africa.     <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Simmons.pdf')}}"></a></p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>12:00 – 1:00 PM</time>
              <div class="subsession">
                <p class="maintitle">Lunch Plenary. Introduction: Craig S. Hutchinson </p>
                <p>
                  <p>Dr. Gail Wyatt, University of California, Los Angeles. My Brother and Sister’s Keeper: the Roles of Women and Gay Black Men in each other’s Lives.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Wyatt.pdf')}}"></a></p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>1:00 – 2:15 PM</time>
              <div class="subsession">
                <p class="maintitle">Black MSM Research Strategy. Moderator: Kali Lindsey</p>
                <p>
                  <p>Craig Hutchinson, Black Gay Research Group</p><br/>
                  <p>Gregorio Millett, amfAR</p><br/>
                  <p>DaShawn Usher, National Black Gay Men’s Advocacy Coalition</p><br/>
                  <p>Christopher Chauncey Watson, HIV Prevention Trials Network Black Caucus.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Watson.pdf')}}"></a></p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>2:15 – 3:30 PM</time>
              <div class="subsession">
                <p class="maintitle">Keynote Speaker. Introduction: Dr. LaRon E. Nelson</p>
                <p>
                  <p>Mr. Francis Boakye, Priorities on Rights &amp; Sexual Health (PORSH), Ghana, West Africa. Homosexuality in Ghana: Myths, Misconceptions, Mysteries and Miseries.   <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Francis.pdf')}}"></a></p><br/>
                
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>3:30 – 3:45 PM</time>
              <div class="subsession">
                <p class="maintitle">Break</p>
                <p></p>
              </div>
              <div class="clearfix"></div>              
            </section>

            <section>
              <time>3:45 – 5:00PM</time>
              <div class="subsession">
                <p class="maintitle">New Writings by Black Gay Men. Moderator: Sanford E. Gaylord</p>
                <p>
                  <p>Dr. Marlon Bailey. Butch Queens Up in Pumps: Gender, Performance, &amp; Ballroom Culture in Detroit</p><br/>
                  <p>Dr. Darrell Hucks. New Visions of Collective Achievement: The Cross-Generational Schooling Experiences of African American Males</p><br/>
                  <p>Dominique Jackson and Richie Giordano. The Transsexual From Tobago</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Religion &amp; Spirituality. Moderator: Dr. Robert Miller Jr.</p>
                <p> <p>Verdell A. Wright, Howard University, Howard University. Black Theology and Black Gay Men.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Verdell.pdf')}}"></a></p><br/>
                  <p>Dr. Ja’Nina J. Walker, University of San Francisco. Conflicting Identities?: Being Black, LGBT, and Religious.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Walker.pdf')}}"></a></p><br/>
                  <p>Dr. Latrice Pichon, University of Memphis. Formative research of faith-based approaches in HIV prevention in the Mid-South.    <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Pichon.pdf')}}"></a></p><br/>
                  <p>Christopher Jones, SAGE Harlem. Black MSM, HIV, and the Primordial: A Case for Burning Condoms.</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>5:00 – 6:00 PM</time>
              <div class="subsession">
                <p class="maintitle">House/Ball Community – Partnership, Research and Capacity Building. Moderator: Michael Roberson</p>
                <p>
                  <p>Ayana Elliott, The Elliott Group, LLC, University of the District of Columbia</p><br/>
                  <p>Frank Leon Roberts, New York University</p><br/>
                  <p>Stephaun Wallace, Office of HIV/AIDS Network Coordination, Fred Hutchinson Cancer Research Center</p><br/>
                  <p>Kirk Myers, Abounding Prosperity, Inc</p><br/>
                  <p>Seven King</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
              <div class="subsession">
                <p class="maintitle">Advances in HIV Prevention Research (Panel II). Moderator: Christopher Hucks-Ortiz</p>
                <p>
                  <p>Dr. Typhanye Penniman Dyer, University of Maryland. Understanding Psychosocial, Behavioral and Substance Use Correlates of STI and HIV Risk among Men who have Sex with Men (MSM) and Men who have Sex with Men and Women (MSMW).   <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Dyer.pdf')}}"></a></p><br/>
                  <p>Dr. Gregory Edwards, Flowers Heritage Foundation. VOICES:  A Qualitative Study with MSMs in South Florida.   <a class="pdf" target="_blank" href="{{asset('bundles/sitewebfront/presentations/Edwards.pdf')}}"></a></p><br/>
                  <p>Dr. Mitchell Wharton, University of Rochester. Bridging the gaps: Non-biomedical considerations for decreasing HIV transmission and preserving the lives of young Black MSM.</p><br/>
                  <p>Dr. Leo Wilton, Binghamton University. The Transformation of Silence into Language and Action”: Thinking About Interdisciplinary Theoretical Frameworks in Black Same Gender Practicing Men’s Communities in the Age of AIDS.</p><br/>
                </p>
              </div>
              <div class="clearfix"></div>
            </section>

            <section>
              <time>7:00PM</time>
              <div class="subsession">
                <p class="maintitle">Reception and Award Ceremony</p>
                <ul>
                  <li>
                    <p>Emerging Scholar and Leadership Award</p><br/>
                    <p>Ja’Nina J. Walker, PhD, University of San Francisco</p><br/>
                  </li>
                  <li>
                    <p>Founders’ Spirit &amp; Soul Award</p><br/>
                    <p>Frank Leon Roberts, Gallatin School of Individualized Study</p><br/>
                  </li>
                  <li>
                    <p>Lifetime Achievement Award</p><br/>
                    <p>Christopher H. Bates, Florida Department of Health in Broward County, Florida</p><br/>
                  </li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </section>                    
            <div class="clearfix"></div>            
          </div>
          <div class="clearfix"></div>              
{%endblock%}
