{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}
    {% set test = 'false' %}

    {% for membership in user.usermembership  %}
        {% if membership.usermembershiptype.id >= 15 %}

            {% set test = 'true' %}

        {% endif %}

    {% endfor%}


    <div class="page-top">
        <h1 class="page-title btn-yellow-124">User Profile</h1>
    </div>

    <div class="section-1">
        <h2 class="titlen">Welcome {{ user.fname }} {{ user.lname }} {% if user.photo != null and user.photostatus == '1' or user.photostatus == 1 %}<span><a class="center circular-95" style="background: url({{ asset('upload/userphotos/'~user.id~'/'~user.photo) }}) no-repeat;background-size:95px 95px;"></a></span>{% endif %} </h2>

        <h3 class="titley">Membership Status</h3>

        {% if test == 'false' %}
            <div class="membership-card">
                <div>
                    <h1>2015 UCLA H3/BGRG Summit</h1>
                    <h2 class="type">Type:SUMMIT2015_Attendees</h2>
                    <div class="clearfix"></div>
                    <a class="btn" href="{{ url('summit_registration_existusers') }}">Register</a>

                </div>
                <img src="{{ asset('bundles/sitewebfront/img/membership-logo-summit-74x91.png') }}">
                <div class="clearfix dashed-line"></div>
            </div>
        {% endif %}
        {% for membership in user.usermembership  %}

            <div class="membership-card">
                <div>
                    {% if (membership.usermembershiptype.id >= '1') and (membership.usermembershiptype.id <= '14') %}
                        <h1>The BGRG</h1>
                    {% else %}
                        <h1>2015 UCLA H<sup>3</sup>/BGRG Summit</h1>
                    {% endif %}
                    <h2 class="type">Type:{{ membership.usermembershiptype.title }}</h2>
                    <p class="status red">Status:{{ membership.status }}<p>
                    <div class="clearfix"></div>
                    {% if (membership.status == 'Paid') or (membership.status == 'Expired') %}
                        <p class="exp">{{ membership.expiration|date("m-d-Y") }}</p>
                    {% endif %}
                    {% if membership.status == 'Unpaid' %}
                        <a class="btn" href="{{ url('summit_paypal_payment') }}">Pay</a>
                    {% elseif membership.status == 'Expired' %}
                        <a class="btn" href="http://www.thebgrg.org/login">Renew</a>
                    {% elseif membership.status == 'Pending' %}
                    {% elseif membership.status == 'Valid' %}
                    {% elseif membership.status == 'Paid' %}
                    {% endif %}


                </div>
                {% if (membership.usermembershiptype.id >= '1') and (membership.usermembershiptype.id <= '14') %}
                    <img src="{{ asset('bundles/sitewebfront/img/membership-logo-bgrg-74x91.png') }}">
                {% else %}
                    <img src="{{ asset('bundles/sitewebfront/img/membership-logo-summit-74x91.png') }}">
                {% endif %}
                <div class="clearfix dashed-line"></div>
            </div>

        {% endfor %}
        <div class="clearfix"></div>
        <h3 class="titley">Personal information</h3>
        <div class="section-1">
            <div class="form-group-260">
                <label for="inputFirstName" class="label-92">First Name<span class="field-required">*</span></label>
                <input type="text" value="{{ user.fname }}" disabled class="input-155 input-yellow">
                <p class="help-block">(Legal)</p>
            </div>
            <div class="form-group-260">
                <label for="inputLastName" class="label-92">Last Name<span class="field-required">*</span></label>
                <input type="text"value="{{ user.lname }}" disabled class="input-155 input-yellow">

            </div>
            <div class="form-group-130" style="width:134px;">
                <label for="inputMiddleInitial" class="label-92">Middle Initial</label>
                <input type="text" value="{{ user.mname }}" disabled class="input-32 input-yellow">
            </div>
            <div class="form-group-130">
                <label for="inputSufix" class="label-80p">Sufix</label>
                <input type="text" value="{{ user.sname }}" disabled class="input-32 input-yellow">
            </div>
            <div class="clearfix"></div>

            <div class="form-group-260">
                <label for="inputDegree1" class="label-92">Degree 1<span class="field-required">*</span></label>
                <input type="text" value="{{ user.degree1 }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputDegree2" class="label-92">Degree 2</label>
                <input type="text" value="{{ user.degree2 }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputDegree3" class="label-92">Degree 3</label>
                <input type="text" value="{{ user.degree3 }}" disabled class="input-155 input-yellow">
            </div>
            <div class="clearfix"></div>

            <div class="form-group-260">
                <label for="inputBadgeName" class="label-92">Badge Name</label>
                <input type="text" value="{{ user.summitbadgename }}" disabled class="input-155 input-yellow">
                <p class="help-block">(if different from above)</p>
            </div>
            <div class="form-group-260">
                <label for="inputBadgeCity" class="label-92">Badge City<span class="field-required">*</span></label>
                <input type="text" value="{{ user.summitbadgecity }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputBadgeState" class="label-92">Badge State<span class="field-required">*</span></label>
                <input type="text" value="{{ user.summitbadgestate }}" disabled class="input-155 input-yellow">
            </div>
            <div class="clearfix"></div>

            <div class="form-group-260">
                <label for="inputJobTitle" class="label-92">Job Title</label>
                <input type="text" value="{{ user.academictitle }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputOrganization" class="label-92">Organization<span class="field-required">*</span></label>
                <input type="text" value="{{ user.organization }}" disabled class="input-155 input-yellow">
            </div>
            <div class="clearfix"></div>

            <div class="form-group-260">
                <label for="inputAddress" class="label-92">Address<span class="field-required">*</span></label>
                <input type="text" value="{{ user.address }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputAddress2" class="label-92">Address #2</label>
                <input type="text" value="{{ user.address2 }}" disabled class="input-155 input-yellow">
            </div>
            <div class="clearfix"></div>

            <div class="form-group-260">
                <label for="inputLastName" class="label-92">City<span class="field-required">*</span></label>
                <input type="text" value="{{ user.city }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputFirstName" class="label-92">State<span class="field-required">*</span></label>
                <input type="text" value="{{ user.state }}" disabled class="input-155 input-yellow">
            </div>
            <div class="clearfix"></div>
            <div class="form-group-260">
                <label for="inputMiddleInitial" class="label-92">Postal Code<span class="field-required">*</span></label>
                <input type="text" value="{{ user.postalcode }}" disabled class="input-155 input-yellow">
            </div>
            <div class="form-group-260">
                <label for="inputSufix" class="label-92">Country<span class="field-required">*</span></label>
                <input type="text" value="{{ user.country }}" disabled class="input-155 input-yellow">
            </div>
            <div class="clearfix"></div>

            <div class="form-group-260">
                <label for="inputTelephone" class="label-92">Telephone<span class="field-required">*</span></label>
                <input type="text" value="{{ user.telephone }}" disabled  class="input-155 input-yellow">
                <p class="help-block">(Day Time)</p>
            </div>
            <div class="form-group-260">
                <label for="inputTelephoneMobile" class="label-92">Telephone 2</label>
                <input type="text" value="{{ user.telephone2 }}" disabled class="input-155 input-yellow">
                <p class="help-block">(Mobile)</p>
            </div>

            <div class="form-group-260">
                <label for="inputConfirm" class="label-92">Email<span class="field-required">*</span></label>
                <input type="email" value="{{ user.email }}" readonly class="input-155 input-yellow disabled">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

    <div class="clearfix"></div>

        <div style="opacity: 0">
    <p>
        Membership Organization = user_membership_type.ambient<br/>
        Membership Type = user_membership_type.title<br/>
        Membership Expiration = user_membership.expiration<br/>
    </p>
    <h2>Actions</h2>
    <p>
        Membership Status Pending = None<br/>
        Membership Status Unpaid = Pay<br/>
        Membership Status Valid = None<br/>
        Membership Status Declined = Submit<br/>
        Membership Status Expired = Renew(Only if the user_membership_type.expiration is set)<br/>
    </p>
    </div>

</div>
{% endblock %}
