{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}
    <link href="{{ asset('bundles/sitewebfront/css/home.css') }}" rel="stylesheet">

    <h1 class="logo-home"><a href=""><img src="{{ asset('bundles/sitewebfront/img/logo_home.png') }}"></a></h1>
    <div class="intro-home">
        <p class="p1-home">The Black Gay Research Group (BGRG) is a diverse group of Black gay men<br/>
            committed to creating a platform for presenting, discussing, and analyzing scholarly<br/>
            work being produced by and on Black gay men. Inaugurated in the Spring of 2001,<br/>
            the BGRG has evolved from an informal discussion group to a structured group of</p>
        <p class="p2-home">professional Black gay men who have accomplished a number of objectives:<br/>
            (1) We hosted three Black Gay Research Summits (2003, 2005, and in 2010);<br/>
            (2) We conceptualized a Black Gay Research Think Tank; and <br/>
            (3) We developed a National Black Gay Research Agenda (2007).</p>
        <div class="clearfix"></div>
    </div>
    <div class="banners">
        <div class="banner1-home">
            <img src="{{ asset('bundles/sitewebfront/img/photo1_home.png') }}">
            <h2>Membership</h2>
            <p>The BGRG annouces its 2015  Summit to be held January 14</p>
            <a href="#">more...</a>
            <div class="clearfix"></div>
        </div>
        <div class="banner2-home">
            <img src="{{ asset('bundles/sitewebfront/img/photo2_home.png') }}">
            <h2>Our Work</h2>
            <p>The BGRG annouces its 2015  Summit to be held January 14</p>
            <a href="#">more...</a>
            <div class="clearfix"></div>
        </div>
        <div class="banner2-home">
            <img src="{{ asset('bundles/sitewebfront/img/photo3_home.png') }}">
            <h2>Articles</h2>
            <p>The BGRG annouces its 2015  Summit to be held January 14</p>
            <a href="#">more...</a>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <h6>The Black Gay Research Group - 2014 All rights reserved</h6>

{%endblock%}