<style>
    .row{
        padding: 2% 0;
    }
</style>


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title"><i class="icon-user"></i> User Details</h4>
</div>
<div class="modal-body with-padding">
    <div class="row">
        <div class="col-md-5">
            {% set verif = 0 %}
            <img src="
                {% if entity.photo != null %}
                    {% if file_exists(web_path~'/upload/userphotos/'~entity.id~'/'~entity.photo) %}
                        {{asset('/upload/userphotos/'~entity.id~'/'~entity.photo)}}
                        {% set verif = 1 %}
                    {% else %}
                        {{ 'http://bgrgsummit.com/code/web/upload/userphotos/'~entity.id~'/'~entity.photo }}
            {% set verif = 1 %}}
                    {% endif %}
                {% else %}
                    {{ 'http://bgrgsummit.com/code/web/bundles/sitewebfront/img/placeholder.png'}}
                {% endif %}
                     ">
        </div>
        {% if verif == 1 and entity.photostatus != 'Approved' %}
        <div class="col-md-7">
            <form action="{{ path('user_edit_photo_status',{'id':entity.id}) }}" method="post" >
                <div class="form-group">
                    <label class="col-md-5">photo Status</label>
                    <select class="col-md-4" name="photostatus">
                        <option value="Approved">Approved</option>
                        <option value="Declined">Declined</option>
                    </select>
                    <button type="submit" class="btn btn-success col-md-3">Save</button>
                </div>

            </form>
        </div>
        {% endif %}
        {% if entity.usermembership|first.usermembershiptype.id < 15 or entity.usermembership|last.usermembershiptype.id < 15 %}
            <div class="col-md-7">
                <form action="{{ path('user_edit_photo_status',{'id':entity.id}) }}" method="post" >
                    <div class="form-group">
                        <label class="col-md-5">BGRG User</label>
                        <select class="col-md-4" name="status">
                            <option value="Approve">Approve</option>
                            <option value="Unapprove">Unapprove</option>
                        </select>
                        <button type="submit" class="btn btn-success col-md-3">Save</button>
                    </div>

                </form>
            </div>
        {% endif %}
        <div class="col-md-7">
            <form action="{{ path('user_edit_photo_status',{'id':entity.id}) }}" method="post" >
                <div class="form-group">
                    <label class="col-md-5">User Status</label>
                    <select class="col-md-4" name="lock">
                        <option value="active">active</option>
                        <option value="unactive">unactive</option>
                    </select>
                    <button type="submit" class="btn btn-success col-md-3">Save</button>
                </div>

            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">{{ entity.fname }} {{ entity.mname }} {{ entity.lname }} {{ entity.sname }}</div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <ul>
                <li>{{ entity.degree1 }}</li>
                {% if entity.degree2 != null %} <li>{{ entity.degree2 }}</li> {% endif %}
                {% if entity.degree3 != null %} <li>{{ entity.degree3 }}</li> {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">{{ entity.telephone }}</div>
        <div class="col-md-5">{{ entity.telephone2 }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">Email</div>
        <div class="col-md-5">{{ entity.email }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">Address</div>
        <div class="col-md-5">{{ entity.city }} {{ entity.state }} {{ entity.postalcode }}</div>
    </div>

    <h3>demographic information</h3>
    <div class="row">
        <div class="col-md-5">age range</div>
        <div class="col-md-5">{{ entity.demographic.agerange }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">birth gender</div>
        <div class="col-md-5">{{ entity.demographic.birthgender }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">current gender</div>
        <div class="col-md-5">{{ entity.demographic.currentgender }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">current gender other</div>
        <div class="col-md-5">{{ entity.demographic.currentgenderother }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">ethnicity</div>
        <div class="col-md-5">
            <ul style="list-style: none">
                {% for ethnicity in entity.demographic.ethnicity %}
                <li>{{ ethnicity }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-5">ethnicity other</div>
        <div class="col-md-5">{{ entity.demographic.ethnicityother }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">HIV Status</div>
        <div class="col-md-5">{{ entity.demographic.hiv }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">Geographical Location</div>
        <div class="col-md-5">{{ entity.demographic.geographicallocation }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">Type of Geographic Area Serve</div>
        <div class="col-md-5">{{ entity.demographic.geographicaltype }}</div>
    </div>

    <div class="row">
        <div class="col-md-5">organization work for</div>
        <div class="col-md-5">
            <ul style="list-style: none">
                {% for organizationtype in entity.demographic.organizationtype %}
                    <li>{{ organizationtype }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">other organization</div>
        <div class="col-md-5">{{ entity.demographic.organizationother }}</div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>