{% extends 'SitewebBackBundle::layout.html.twig' %}

{% block content %}

    <link href="{{ asset ('bundles/sitewebback/js/jquery.dataTables.yadcf.css')}}" rel="stylesheet" type="text/css">
    <script src="{{ asset ('bundles/sitewebback/js/jquery.dataTables.yadcf.js')}}"></script>
    <script type="text/javascript">
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.modaldanger').attr('href', $(e.relatedTarget).data('href'));
        });

        $(document).ready(function(){
            $('#example').dataTable().yadcf([
                {column_number : 2, text_data_delimiter: ",", filter_type: "auto_complete"},
                {column_number : 3, text_data_delimiter: ",", filter_type: "auto_complete"},
                {column_number : 6, data: ["Paid","Unpaid","Expired"]}
            ]);

        })
    </script>
    <div class="page-content">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title"><i class="icon-user4"></i> Users list</h6>
            </div>
            <div class="panel-body">


                <table class="table" id="example">
                    <thead>
                    <tr>
                        <th>Photo thumbnail</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Memberships</th>
                        <th>User Status</th>
                        <th>User Public</th>
                        <th>Check in</th>
                        <th>Speaker Agreement</th>
                        <th>Photo Status</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <img style="max-width: 135px" src="
                {% if entity.photo != null %}

                    {% if file_exists(web_path~'/upload/userphotos/'~entity.id~'/'~entity.photo) %}
                        {{asset('/upload/userphotos/'~entity.id~'/'~entity.photo)}}
                    {% else %}
                        {{ 'http://bgrgsummit.com/code/web/upload/userphotos/'~entity.id~'/'~entity.photo }}
                    {% endif %}
                {% else %}
                    {{ 'http://bgrgsummit.com/code/web/bundles/sitewebfront/img/placeholder.png'}}
                {% endif %}
                     ">
                                {% if entity.photostatus != 'Approved' %}
                                    <div class="col-md-5">
                                        <form action="{{ path('user_edit_photo_status',{'id':entity.id}) }}" method="post" >
                                            <div class="form-group">
                                                <label>Photo Status</label>
                                                <select name="photostatus">
                                                    <option value="Approved">Approved</option>
                                                    <option value="Declined">Declined</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </form>
                                    </div>
                                {% endif %}
                            </td>
                            <td><a href="{{ path('user_show',{'id':entity.id}) }}" data-target="#remote_modal" role="button" data-toggle="modal">{{ entity.fname }} {{ entity.lname }}</a></td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.city }}</td>
                            <td>{{ entity.state }}</td>
                            <td><ul>
                                    {% for membership in entity.usermembership %}
                                        <li><a href="{{ path('membershipstatus',{'id':membership.id}) }}" data-target="#remote_modal" role="button" data-toggle="modal">{{ membership.usermembershiptype.title }}</a></li>
                                    {% endfor %}
                                </ul></td>
                            <td><ul>
                                    {% for membership in entity.usermembership %}
                                        <li> {{ membership.status }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td><ul>
                                    {% for membership in entity.usermembership %}
                                        <li> {% if membership.status == 0 %}NOT Public{% else %} Public {% endif %}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td><ul>
                                    {% for membership in entity.usermembership %}
                                         {% if membership.usermembershiptype.id > 14 %}
                                             {% if membership.checkin == 1 %}
                                                 Checked
                                                {% else %}
                                                    <a class="btn btn-primary" href="{{ path('user_checkin', { 'id': membership.id }) }}" >Check in</a>
                                             {% endif %}
                                         {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>{% if entity.speakerDatetime != null %}Agreed{% else %}Pending {% endif %}</td>
                            <td>{{ entity.photostatus }}</td>
                            <td>
                                <ul style="list-style: none">
                                    <li>
                                        <a class="btn btn-danger" data-toggle="modal" role="button" data-href="{{ path('user_delete', { 'id': entity.id }) }}" data-target="#confirm-delete"  href="#">Delete</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-primary" role="button" href="{{ path('user_director_founder', { 'id': entity.id ,'role':'director'}) }}" >Make Director</a>
                                        <a class="btn btn-primary" role="button" href="{{ path('user_director_founder', { 'id': entity.id ,'role':'founder'}) }}" >Make Founder</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-success" style="width: 73px; margin-top: 10px;">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div id="confirm-delete" class="modal fade" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title"><i class="icon-user-minus"></i> Small modal</h4>
                            </div>
                            <div class="modal-body with-padding">
                                <p>Are You sure you want to delete this User</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-warning" data-dismiss="modal">Close</button>
                                <a href="#" class="btn btn-danger modaldanger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
