{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

    <div class="page-top">
        <h1 class="page-title btn-yellow-100">User Profile</h1>
    </div>

    <div class="section-1">
        <h2 class="titlen">Welcome {{ user.fname }} {{ user.lname }} {% if user.photo != null %}<span><a class="center circular-95" style="background: url({{ asset('upload/userphoto/'~user.id~'/'~user.photo) }}) no-repeat;"></a></span>{% endif %} </h2>

        <div class="clearfix"></div>
    <h3 class="titley">Membership Status</h3>

{% for membership in user.usermembership  %}

    <div class="membership-card">
        <div>
            <h1>2015 UCLA H3/BGRG Summit</h1>
            <h2 class="type">Type:{{ membership.usermembershiptype.title }}</h2>
            <p class="status red">Status:{{ membership.status }}<p>
            <div class="clearfix"></div>
            <p class="exp">{{ membership.expiration }}</p>
                {% if membership.status == 'Unpaid' %}
                        <a class="btn" href="{{ url('summit_paypal_payment') }}">Pay</a>
                    {% elseif membership.status == 'Pending' %}
                    {% elseif membership.status == 'Valid' %}
                    {% elseif membership.expiration|date("Y-m-d H:m:s") != "now"|date("Y-m-d H:m:s") %}
                         <a class="btn" href="#">Renew</a>
                {% endif %}


        </div>
        <img src="{{ asset('bundles/sitewebfront/img/membership-logo-summit-74x91.png') }}">
        <div class="clearfix dashed-line"></div>
    </div>

        {% endfor %}
    <div class="clearfix"></div>

        <div style="opacity: 0">
    <p>
        Membership Organization = user_membership_type.ambient<br/>
        Membership Type = user_membership_type.title<br/>
        Membership Expiration = user_membership.expiration<br/>
    </p>
    <h2>Actions</h2>
    <p>
        Membership Status Pending = None<br/>
        Membership Status Unpaid = Pay<br/>
        Membership Status Valid = None<br/>
        Membership Status Declined = Submit<br/>
        Membership Status Expired = Renew(Only if the user_membership_type.expiration is set)<br/>
    </p>
    </div>

</div>
{% endblock %}
