{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}
    {% set test = 'false' %}

    {% for membership in user.usermembership  %}
        {% if (membership.usermembershiptype.id < '15') %}
            {% set test = 'true' %}
        {% endif %}
    {% endfor%}

    <ul class="side-menu">
      <li><a>Members</a>
        <ul>
            <li class="selected"><a>Membership Status</a>
        </ul>
      </li>
    </ul>
    <main class="content">
        <header class="content-header">
            <h1>Welcome {{ app.user.fname }}  {{ app.user.lname }}</h1>
            <div class="clearfix"></div>
            <hr class="book-header">
            <div class="font-size-control" style="display:none;">
                <a class="smaller">-</a>
                <p>A<span>A</span></p>
                <a class="bigger">+</a>
            </div>
            <div class="clearfix"></div>
        </header>
        <h3 class="titley">Personal information</h3>
        <section>
            <header class="form_section_header">
                <hr>
                <h2>Personal Info</h2>
            </header>
            <article class="registerpersonal">
                <p><span class="required-helper">*Required fields</span>
                <div class="form-group w310">
                    <label for="inputFirstName" class="w100">First Name:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.fname }}"  readonly class="disabled w191">
                </div>
                <div class="form-group w310">
                    <label for="inputLastName" class="w100">Last Name:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.lname }}"  readonly class="disabled w200">

                </div>
                <div class="clearfix"></div>
                <div class="form-group">
                    <label for="inputyAddress" class="w100">Address:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.address }}"  readonly class="disabled w512">
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group w310">
                    <label for="inputCity" class="w100">City:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.city }}"  readonly class="disabled w200">
                </div>
                <div class="form-group w170">
                    <label for="inputState" class="w60">State:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.state }}"  readonly class="disabled w100">                </div>
                <div class="form-group w150">
                    <label for="inputZip" class="w50">Zip:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.postalcode }}"  readonly class="disabled w82">
                </div>
                <div class="clearfix"></div>
                <div class="form-group w310">
                    <label for="inputPhone1" class="w110">Home Phone:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.telephone }}"  readonly class="disabled w191">
                </div>
                <div class="form-group w310">
                    <label for="inputPhone2" class="w110">Mobile Phone:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.telephone2 }}"  readonly class="disabled w191">
                </div>
                <div class="clearfix"></div>

                <div class="form-group">
                    <label for="inputEmail" class="w110">E-mail:<span class="field-required">*</span></label>
                    <input type="text" value="{{ user.email }}"  readonly class="disabled w191">
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>


                <div class="form-group w310">
                    <label class="w200">Make profile public?<span class="field-required">*</span></label>
                    <input type="text" value="{% if user.publicprofile == 0 %}No{% else %}Yes{% endif %}"  readonly class="disabled w512">
                </div>

                <div class="clearfix"></div>
            </article>
        </section>

        <div class="clearfix"></div>

        <h3 class="titley">My Memberships</h3>
        {% if test == 'false' %}
            <div class="membership-card">
                <div>
                    <h1>The BGRG</h1>
                    <div class="clearfix"></div>
                    <a class="btn" style="float: none; margin: 10px 0 0 10px; width: 135px; height: 33px; font-size: 22px; text-align: center;" href="{{ url('bgrg_registration_existusers') }}">Register</a>

                </div>
                <img src="{{ asset('bundles/sitewebfront/img/membership-logo-summit-74x91.png') }}">
                <div class="clearfix dashed-line"></div>
            </div>
        {% endif %}
            {% for membership in usermemberships %}
                     <section class="membership-card">
                        <article>
                            {% if (membership.usermembershiptype.id >= '1') and (membership.usermembershiptype.id <= '14') %}            
                            <h1>The BGRG</h1>
                            {% else %}
                            <h1>2015 UCLA H<sup>3</sup>/BGRG Summit</h1>
                            {% endif %}
                            <h2>{{ membership.usermembershiptype.title }}</h2>
                            <p class="status red">Status: {{ membership.status }}<p>
                            
                            {% if (membership.status == 'Paid') or (membership.status == 'Expired') %}
                            <p class="exp">Expiration {{ membership.expiration|date('m-d-Y') }}</p>
                            {% endif %}
                            {% if (membership.status == 'Unpaid') and (membership.usermembershiptype.id >= '1') and (membership.usermembershiptype.id <= '14') %}   
                            <a class="btn btn_purple" href="{{ url('summit_paypal_payment') }}">Pay</a>
                            {% elseif (membership.status == 'Pending') or (membership.status == 'Paid') %}
                            {% elseif (membership.usermembershiptype.id >= '15') %}
                            <a class="btn btn_purple gotosummit" href="http://www.bgrgsummit.com/login">Go to BGRGSummit.com</a>
                            {% endif %}
                            {% if membership.status == 'Paid' %}
                            {% elseif ((membership.usermembershiptype.id >= '1') and (membership.usermembershiptype.id <= '14')) and membership.expiration|date("Y-m-d H:m:s") < "now"|date("Y-m-d H:m:s") %}
                            <a class="btn btn_purple" href="{{ path('summit_payment_renew') }}">Renew Membership</a>
                            {% endif %}
                        </article>
                        {% if (membership.usermembershiptype.id >= '1') and (membership.usermembershiptype.id <= '14') %}            
                        <img src="{{ asset('bundles/sitewebfront/img/membership-logo-bgrg-74x91.png') }}">
                        {% else %}
                        <img src="{{ asset('bundles/sitewebfront/img/membership-logo-summit-74x91.png') }}">
                        {% endif %}
                        <hr/>
                    </section>

            {% endfor %}
    </main>















{% endblock %}
