{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}

          <div class="page-top">  
            <h1 class="page-title btn-yellow-124">Speakers</h1>          
            <p></p>
          </div>
          
         <div class="col1of3 autocontent autocontent220">
            <a name="francis" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/francis.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Francis Boakye - Keynote Speaker</h3>
            <div class="yellowBox">
              <div class="col12of12 content">                
                
                <p>Inaugural David Kato Kisule International Keynote Address Homosexuality in Ghana: Myths, Misconceptions, Mysteries and Miseries.</p>
                
                <p>Mr. Francis Boakye, popularly called Kakra, a name given to the younger twin is a young man born in Accra the capital of Ghana, West Africa. Francis had a vibrant childhood period with 7 other siblings and a couple of cousins with a strict military Father and an enchanting Mother who treated him with close attention due to his argumentative traits.</p>
                <p> Francis holds a degree in theatre arts from the University of Ghana, and 5 professional certificates in Sales management, marketing, public relations, advanced marketing, and basic law from the Ghana Institute of Management and Public Administration, Ghana Institute of Journalism, and the University of Ghana Law School respectively. Prior to entering the University, Francis enrolled in a Journalism school for a year and practiced as guest artiste with some local radio stations. Whiles a student, he stringed for some newspapers and also worked on part time basis with a research firm owned by His senior brother. He did mystery shopping research on some selected western union money transfer agents in Ghana, Togo, Benin, Nigeria, Burkina Faso, Ivory, and Liberia.</p>
                <p> Kakra as he was known by most of his peers was very active on Campus and started his activism with particular interest in women’s issues and gender-related abuses, discriminatory treatment to perceived or actual Gay men, and student politics and entertainment.</p>
                <p>His actual career began with a local radio station where he served for 3years as an executive producer of health programs, sales and event executive. He moved into real estate for another 2years as a marketing manager of an Accra-based company and moved to the Centre for popular education and human rights Ghana as a program manager where he helped in implementing MSM initiatives across the length and breathe of Ghana. He was also on the team that implemented the first ever MSM study in Ghana in 2006 and again on the recent IBSS on selected MSM in 2011.</p>
                <p>He currently is the Executive director of Priorities on rights and sexual health (PORSH),a locally-based organization that prioritizes on key population issues in health, human rights and gender-related initiatives. He is passionate about his work and loves travelling, politics, reading and dancing.
                </p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>       

         <div class="col1of3 autocontent autocontent220"> 
            <a name="gail" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/gail.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Gail Wyatt, PhD - Lunch Plenary Speaker</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p> Keynote Address from Preeminent Scholar in Sex Research My Brother and Sister’s Keeper: the Roles of Women and Gay Black Men in each other’s Lives</p>
                
                <p>Dr. Wyatt is a clinical psychologist, sex therapist and professor in the Department of Psychiatry and Biobehavioral Sciences at UCLA. She was an NIMH Research Scientist Career Development Awardee for 17 years. Her research examines the consensual and abusive sexual relationships of women and men, the effects of these experiences on their psychological well-being, and the cultural context of risks for sexually-transmitted diseases and HIV. She has conducted national and international research since 1980, funded by the National Institutes of Mental Health, the National Institute of Drug Abuse, state and private foundations. The recipient of numerous awards, Dr. Wyatt has to her credit more than 110 journal articles and book chapters, and has co-edited or written five books, including Stolen Women: Reclaiming our Sexuality, Taking Back Our Lives and No More Clueless Sex: 10 Secrets to a Sex Life That Works for Both of You. </p>

                <p> Dr. Wyatt is an Associate Director of the UCLA AIDS Institute and coordinates a core of behavioral scientists who consult with other researchers to recruit underserved populations and conduct research that effectively incorporates socio-cultural factors into HIV/AIDS research. Dr. Wyatt has received numerous awards and honors for her scientific accomplishments, mentoring, and teaching. She has also testified before the United States Congress eight times on issues related to health policy. She was the first African-American woman to be licensed as a psychologist in the state of California.</p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>  

          <div class="col1of3 autocontent autocontent220">
            <a name="Craig" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Craig.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Craig Hutchinson</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                <!--
                <p><strong>Presentation Title:</strong></p>
                -->
                
                <p>Craig Hutchinson received a B.A. with honors in African American Studies from the University of California, Berkeley. His honors thesis entitled, Comparing Stigma Management among Men who have Sex with Men in Barbados and the San Francisco Bay Area is one of the first major studies in this area. This research allowed him to understand how social context and geography influence men’s identities. Mr. Hutchinson managed a research project at University of California, San Francisco’s Center for AIDS Prevention Studies that assessed HIV risk behavior among Black men leaving prison. The specific focus of the research was to better understand the context in which sex with men and drug use takes place in prison in order to help recently released men better cope with and communicate about HIV risk with future partners. While receiving an MPH degree from the Columbia University’s Mailman School of Public Health in the Department of Sociomedical Sciences, Mr. Hutchinson worked as a research assistant on the HIV Prevention Trials Network 061 research study which was a large multi-site study of HIV and Black MSM conducted in six U.S. cities, and the first to determine the rate of new HIV infection among such a large prospective cohort of U.S. Black MSM.</p>

                <p>Mr. Hutchinson was the consulting researcher with the Government of Barbados where he conducted qualitative interviews with members of the MSM community, non-governmental organizations, policy makers, and health care providers for a formative assessment prior to a Behavioral Surveillance Survey conducted by the Center for Disease Control and Prevention. He was also the consulting researcher with the University of California, Los Angeles looking at the quality of care of HIV positive service men in the military.</p>

                <p>Presently, Mr. Hutchinson is the Project Coordinator for the EBAN II Project within the Alameda County Public Health Department and The University of California, Los Angeles. EBAN II Project focuses on assessing implementation and effectiveness of an evidence-based HIV risk reduction intervention for HIV-serodiscordant, heterosexual African-American couples in two geographic areas (Oakland and Los Angeles, CA) that have a high prevalence of HIV and risk conditions among African Americans. EBAN II Project will test the effectiveness of the intervention as delivered in community-based organizations (CBOs) that serve African American clients.</p>
  
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Bates" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Bates.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Christopher H. Bates</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                <!--
                <p><strong>Presentation Title:</strong></p>
                -->
                
                <p>Mr. Christopher H. Bates currently serves as the Director of Men’s Health, Wellness and Prevent Program, Florida Department of Health in Broward County.  Previously he was Deputy Director to the Deputy Assistant Secretary for Health, Infectious Diseases and Executive Director of the Presidential Advisory Council on HIV/AIDS.</p>

                <p>Mr. Bates has more than 20 years of experience in public health policy and HIV/AIDS programs. He has served in the U.S. Department of Health and Human Services’ Office of HIV/AIDS Policy (OHAP) as the Deputy Director and Director for more than a decade. In this position he advised the Assistant Secretary for Health on department-wide matters pertaining to HIV/AIDS education, prevention, testing, care and treatment, and research. In addition, he administers the Congressionally-appropriated funds for the Minority AIDS Initiative as well as the Leadership Campaign on AIDS, the National HIV Testing Mobilization Campaign, and a variety of new media activities designed to better educate the public about HIV/AIDS. He has been a member of the U.S. Delegation to the last five International AIDS Conferences.</p>

                <p>Christopher Bates has expertise in community-based organizations, having served as the Executive Director of the District of Columbia Comprehensive AIDS Resources and CARE Consortium, an alliance of local organizations and institutions that provide HIV/AIDS services and education in the District of Columbia and interim Director of the city of Philadelphia HIV Commission.  In addition, Mr. Bates has served in a variety of management positions in the District of Columbia.  His experiences also include a White House appointment under President Jimmy Carter and as a Congressional Staffer for the U. S. House of Representatives. </p>

                <p>Over the past 20 years, Mr. Bates has served on more than 11 national and local boards and commissions, including but not limited to:  founding member of the District of Columbia Primary Care Association; member of the Board of the Washington Consortium of Agencies; member of the Executive Committee of the DC Metropolitan Washington Ryan White Title I Planning Council; member of the Mayor’s Health Policy Advisory Committee and a past Chair of the District of Columbia, Mayor’s AIDS Advisory Committee. </p> 

                <p>Mr. Bates is a graduate of the University of Michigan, and received a MPA from Southeastern University.</p>
  
              </div>
              <div class="clearfix"></div>
            </div>
          </div> 


          <!-- Ron Simmons, Ph.D. -->
          <div class="col1of3 autocontent autocontent220">
            
            <a name="Ron" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Ron.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Ron Simmons, Ph.D. </h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                <!--
                <p><strong>Presentation Title:</strong></p>
                -->              
                
                <p>Ron Simmons, Ph.D., is the President/CEO of Us Helping Us, People Into Living, Inc. (UHU), a nonprofit agency dedicated to reducing HIV infection in the African-American community.  UHU specializes in HIV prevention for black gay/same-gender-loving men.  UHU began as a self-help group for HIV-infected black gay men who would meet in their living rooms.  Under Dr. Simmons leadership, UHU has become one of the largest black AIDS organizations in the country serving gay/bisexual men, heterosexual men and women, transgender persons, and youth.  Currently, UHU offers an array of programs, including: mental health services; HIV testing; STI screenings; case management; support groups; and behavioral interventions.  UHU has 20 full-time staff and an annual budget of $2.1 million.  In 2001, UHU was the first black gay organization in the nation to purchase and renovate a building for its headquarters and service facility.</p>  

                <p>For 11 years, Dr. Simmons was a member of the DC Board of Medicine.  He has a B.A. in Afro-American Studies, a M.A. in African History, and a M.S. in Educational Communications from the State University of New York at Albany.  He received his Ph.D. in Mass Communications from Howard University and served on the faculty of the Howard University School of Communications for 12 years.</p>  

                <p>Dr. Simmons’ published works include: “Some Thoughts on the Challenges Facing Black Gay Intellectuals” in Brother To Brother: New Writings By Black Gay Men, “Sexuality, Television and Death: A Black Gay Dialogue On Malcolm X” in Malcolm X: In Our Own Image; “Baraka’s Dilemma: To Be Or Not To Be” in Black Men on Race, Gender and Sexuality; “The Voice” in For Colored Boys Who Have Considered Suicide When the Rainbow is Still Not Enough; and “Joe, Essex, Marlon, and Me” in Black Gay Genius: Answering Joseph Beam’s Call;.  He was a field producer, photographer and cast member of the award winning film, Tongues Untied.</p>  

                <p>His honors include: the 2010 Life Time Achievement Award from the Black Gay Research Group; the 2010 Harvey Milk Alumni Award from the State University of New York at Albany; and the 2004 Heroes in the Struggle Award from the Black AIDS Institute.  He was inducted into the National AIDS Education and Services for Minorities’ Black Gay Men Hall of Fame in January 2013, and selected in December 2010 by POZ magazine as one of the POZ 100 most influential AIDS activists.</p>  
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Watson" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Watson.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Christopher Chauncey Watson</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Christopher Chauncey Watson continues to address health disparities affecting African Americans now for nearly a decade. His clinical research areas range from cervical cancer to HIV/AIDS. Mr. Watson obtained his Bachelor of Science degree from North Carolina Agricultural and Technical State University, his research efforts continue to impact communities mostly marginalized and often underserved due to inequalities. His work with the HIV Prevention Trials Network includes domestic and international community engagement, clinical and administrative duties, building capacity and providing technical assistance to clinical research sites globally.</p>

                <p>Mr. Watson currently works at The George Washington University as the Clinical Research Site Director in the School of Public Health and Health Services. Being in the epicenter of the HIV/AIDS epidemic, Mr. Watson’s work has lead him to serve as an expert consultant for a number of agencies both nationally and internationally. Prior to joining The George Washington research team, Mr. Watson assisted in the development of the d-up! Defend Yourself, an effective behavioral intervention focused on the African American MSM community of North Carolina, which now is a national intervention that is widely used to address and combat social norms within various communities throughout the United States. He also has been afforded opportunities to perform research fellowships at GlaxoSmithKline, Inc. and the UNC Lineberger Comprehensive Cancer Center.</p>

                <p>Mr. Watson’s engagement efforts include multiple roles, including HPTN representative to the NIH/Division of AIDS HIV/AIDS Network Coordination Committee (HANC), representative to the HPTN Qualitative Working Group, and representative to the HPTN Global Community Working Group. He serves on the protocol team for the development of the HPTN 073 study. He also serves as the Chair Emeritus for the Young Black Gay Leadership Initiative and chair for the HPTN Black Caucus. Named a Champion of Change, Mr. Watson works tirelessly to influence both policy makers and community stakeholders about the importance of health inequalities.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Walker" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Walker.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Dr. Ja’Nina Walker</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Dr. Ja’Nina Walker is an Assistant Professor in the department of Psychology at the University of San Francisco. She earned her B.A. from University of San Francisco and her Ph.D. from the Graduate Center of City University of New York.</p>
                <p>Dr. Walker is a developmental psychologist whose research focuses on multiple identity development for Black lesbian, gay, bisexual, and transgender (LGBT) adolescents and emerging adults. Dr. Walker utilizes quantitative and qualitative methodologies to examine the intersections of multiple identities; specifically racial, religious and sexual identities. She is most interested in the ways in which Black LGBT young adults navigate and negotiate social marginalization in their multiple communities through negative religious rhetoric, racism, homophobia, transphobia, and heterosexism. Dr. Walker's work has emphasized the role of identity in the development of culturally competent HIV prevention interventions and community resources. </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Wong" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Wong.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Dr. Josephine Pui-Hing Wong</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Dr. Josephine Pui-Hing Wong is Associate Professor of the Daphne Cockwell School of Nursing at Ryerson University.  She has extensive experience in critical public health and health promotion. She collaborates with marginalized communities to develop, implement and evaluate community capacity building programs.  Her research focuses on addressing HIV and mental health challenges in diaspora communities through stigma reduction and resilience promotion. Her research is underpinned by the principle of doing research “with” and “not for” the affected communities.  Her research program focuses on HIV vulnerabilities and resilience among immigrants and refugees living with HIV; African, Caribbean and Black men; Asian MSM, and racialized youth. Her work is supported by the Ontario HIV Treatment Network and Canadian Institute of Health Research.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Dominique" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Dominique.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Dominique Jackson</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>A West Indian born entertainer/model/host, hailing from the beautiful republic of Trinidad and Tobago, born on the smaller island of Tobago. She moved to the USA at the age of fifteen to escape traumatic situations. She graduated Owings Mills High School in Owings Mills, Md. and attended Fayetteville State University, Fayetteville, N.C. and then Morgan State University, Baltimore, Md.</p>

                <p>In New York City she became a part of the underground ballroom scene where she sharpened and honed her ability to walk the catwalk. Feeling accomplished in the ballroom scene she went on to become one of New York City’s legendary entertainers hosting club nights, pride festivals, non-profit organizational events and fundraisers that were to assist in the betterment of her community. She performed at many of the popular New York City night clubs and bars at times performing as Whitney Houston or performing high energy songs called soca and calypso, the music native to her island republic.</p>

                <p>She participated in pageants winning a total of six titles including being crowned Miss Escuelita Continental, a title she would never have to relinquish. She entered the prestigious Miss Continental pageant twice in 2002 and 2005 winning best interview in 2002.</p>

                <p>She was awarded the Jon Michael Harrington Humanitarian Award in 2003 and The Pepper Labeija Image Award in 2007, both awards given by the House of Latex Project through G.M.H.C at the House of Latex Balls. Our Youth 2007, community Activist of the year. The Leadership in Arts and Entertainment Award presented by People of Color In Crisis and, many others through the years.</p>

                <p>She participated in The Dl Stats project in 2005 taking testing into the underground ballroom scene at the then known uptown mini ball club scene and into nightclub events giving incentives for testing, so as to reach and aid a population highly at risk for HIV/AIDS infection. She worked as the Trans/Youth Coordinator at the then known Bronx Consortium where she and a team of dedicated individuals restarted the Bronx Pride festival in 2006.</p>

                <p>She got involved with different agencies assisting them in reaching the lgbtq community with main concentration on youth, infected youth and all trans- identified folk with empowerment, alternate choices for employment, medical and mental health.</p>

                <p>She published her autobiographical memoir in March of 2014 and is currently a fashion and art model. One of the muses and resident models for Adrian Alicea Couture, Manuel Pelferez Couture and Angel Ayala Couture.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>


          <div class="col1of3 autocontent autocontent220">
            <a name="Darrel" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Darrell.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Darrell Cleveland Hucks</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Darrell Cleveland Hucks is an Assistant Professor of Elementary Education at Keene State College. He received his Ph.D. in Teaching & Learning from New York University. His research interests include the schooling experiences of Black and Latino males, collective achievement, teacher education, culturally responsive pedagogy, college student retention and development, and literacy enrichment and technology integration. He is also the author of “New Visions of Collective Achievement:  The Cross-Generational Schooling Experiences of African American Males.” He is also one of the editors of “Literacy Enrichment and Technology Integration in Pre-Service Teacher Education.”</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          
          <div class="col1of3 autocontent autocontent220">
            <a name="Wallace" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Wallace.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Stephaun E. Wallace, MS</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Stephaun E. Wallace, MS, is a social/behavioral researcher, organizational development expert, and seasoned nonprofit leader with over 15 years experience in the field of public health and over 20 years experience in community mobilization and advocacy work. Professionally, he is a nationally recognized leader for solutions-based advocacy for, and on behalf of, communities of color and the lesbian, gay, bisexual, and transgender community, and formerly served as the Deputy Director of the MOCHA Center, Inc. Currently, Mr. Wallace serves as a Project Manager with the Legacy Project, out of the Office of HIV/AIDS Network Coordination with the Fred Hutchinson Cancer Research Center where he manages and directs several behavioral research initiatives focused on biomedical HIV prevention clinical research.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Edward" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Edward.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Ed Brockenbrough, PhD</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Ed Brockenbrough is an Assistant Professor of Teaching and Curriculum at
                the University of Rochester¹s Warner School of Education. His research
                focuses on negotiations of identity, pedagogy, and power in urban
                educational spaces, with particular attention to black, masculinity, and
                queer issues in education. Ed¹s most recent study was an ethnography of an
                HIV/AIDS prevention center that operated as an alternative, culturally
                responsive pedagogical space for queer youth of color. Findings from this
                study and other works have appeared in several journals and edited
                anthologies, and he is the author of the forthcoming book, Black Men
                Teaching in Urban Schools: Reassessing Masculinity (Routledge, 2016). In
                addition to his scholarly pursuits, Ed directs the Urban Teaching and
                Leadership Program, a Warner School initiative that prepares urban
                teachers with a commitment to social justice, and he provides professional
                development for K-12 educators on LGBT issues in schools.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Millett" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Millett.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Gregorio Millett, M.P.H.</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                <!--
                <p><strong>Presentation Title</strong></p>
                <p>aaa</p>
                -->
                
                <p>Gregorio Millett is a former CDC Senior Behavioral Scientist in the Division of HIV/AIDS Prevention (DHAP) who served in the White House Office of National AIDS Policy between 2009 and 2013 where he co-wrote the President Obama’s National HIV/AIDS Strategy and worked on its implementation across the federal government and nationally.  Mr. Millett has co-authored publications with Dr. Anthony Fauci, former Surgeon General (Regina Benjamin) and former Assistant Secretary of Health Dr. Howard Koh.  His research expertise is racial/ethnic HIV disparities as well as HIV infection and circumcision among gay men and he has published across top-tier peer-reviewed medical, psychological, policy and public health journals, including The Lancet, Lancet HIV, JAMA, AIDS, JAIDS, American Psychologist, Health Affairs, and others.  Currently, Mr Millett is a Vice President and Director of Public Policy at amfAR, the Foundation for AIDS Research.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <!--Leo Wilton -->
          <div class="col1of3 autocontent autocontent220">
            
            <a name="Wilton" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Wilton.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Leo Wilton, Ph.D.</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p> “The Transformation of Silence into Language and Action”:  Thinking About Interdisciplinary Theoretical Frameworks in Black Same Gender Practicing Men’s Communities in the Age of AIDS.</p>
                
                <p>Leo Wilton, Ph.D., is an Associate Professor in the Department of Human Development in the College of Community and Public Affairs at the State University of New York at Binghamton. His primary research interests include health disparities (primary and secondary HIV prevention); community based research and evaluation; and Black psychological development and mental health. Dr. Wilton’s scholarly research on the AIDS epidemic focuses on the intersectionality of race, gender, and sexuality, as situated in macro- and –micro-level inequalities in Black communities, both nationally and internationally. The overall objective of Dr. Wilton’s scholarly research program has been to focus on the impact of socio-cultural factors that influence sexual/drug-risk and protective behavior and mental health that provide the basis for the development of culturally grounded HIV prevention interventions in Black communities.</p>  
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Latrice" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Latrice.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Latrice C. Pichon, PhD, MPH</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Latrice C. Pichon, PhD, MPH, is an Assistant Professor in the Division of Social and Behavioral Sciences, School of Public Health. She completed her PhD in Public Health with a concentration in Health Behavior from the Joint Doctoral Program in Public Health at San Diego State University and the University of California, San Diego in August of 2008. She received post-doctoral training in community-based participatory research (CBPR) in the Kellogg Health Scholars Program at the University of Michigan School of Public Health. Her research focuses on exploring the role of the faith-based community in addressing HIV awareness and prevention, partnering with community-based organizations to understand HIV outreach, care, and utilization needs among vulnerable populations, and using the application of community-based participatory research (CBPR) approaches</p> 
              </div>
              <div class="clearfix"></div>
            </div>
          </div>          

          <div class="col1of3 autocontent autocontent220">
            <a name="Marlon" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Marlon.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Dr. Marlon Bailey</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Marlon M. Bailey is an Associate Professor of Gender Studies and American Studies at Indiana University-Bloomington. He is also a Visiting Professor at the Center for AIDS Prevention Studies, in the Department of Medicine, at the University of California, San Francisco.</p>
                <p>Marlon’s book, Butch Queens Up in Pumps: Gender, Performance, and Ballroom Culture in Detroit, a performance ethnography of Ballroom culture, was published by the University of Michigan Press in 2013. Butch Queens Up in Pumps was awarded the Alan Bray Memorial Book Prize by the GL/Q Caucus of the Modern Language Association (MLA), and it was a finalist for the Lambda Literary Book Award in LGBT studies in 2014. Dr. Bailey has published essays in Feminist Studies, Souls, Gender, Place, and Culture, The Journal of Gay and Lesbian Social Services, AIDS Patient Care & STDs and in several book collections. Marlon’s essay “Engendering Space: Ballroom Culture and the Spatial Practice of Possibility in Detroit” appears in the Themed Issue for which he is also the co-editor with Rashad Shabazz, entitled “Gender and Sexual Geographies of Blackness” in Gender, Place, and Culture: The Journal of Feminist Geography.</p>
                <p>Bailey is also an accomplished performing artist, and he most recently performed a piece based on his new research entitled, “Exploring Black Queer Sex, Love, and Life in the Age of AIDS,” at the University of Texas, Austin.
                Bailey is the recipient of the Joan Heller Bernard Fellowship from the Center for Gay and Lesbian Studies (CLAGS) in New York City. Marlon holds a PhD in African American Studies with a designated emphasis in Gender, Women, and Sexuality from the University of California-Berkeley. </p> 
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Lance" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Lance.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Lance T. McCready, Ph.D.</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Young Black MSM Living and Learning in Canadian Cities</p>
                
                <p>Lance T. McCready, Ph.D. is Associate Professor of Urban Education in the department of Leadership, Higher and Adult Education (LHAE) at Ontario Institute for Studies in Education, University of Toronto (OISE/UT). He is an interdisciplinary scholar-activist whose research, teaching and service contribute to multiple areas of study including urban education, Black education, sexuality education, gender and sexuality studies, youth studies and African diaspora studies. His research program in African descent youth studies focuses on precarity, resilience and lifelong learning in online and offline communities. He has a strong interest in working with sexual minority, marginalized and racialized populations of men and boys.</p> 
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Frank" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Frank.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Frank Leon Robert</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Frank Roberts is the Co-Founder (with CNBC contributor Keith Boykin) of the National Black Justice Coalition--the largest 501(c)3 civil rights organization of its kind in the United States. Currently a visiting lecturer at New York University, he has previously held teaching positions at The New School, Hunter College, The John Jay College of Criminal Justice, and the W.E.B. DuBois Scholars Institute at Princeton University, among others. A seasoned public commentator on issues related to race, sexuality, and American democracy--he has been a contributing writer to a multitude of media outlets, including The Huffington Post, Vibe Magazine, The Village Voice, The San Francisco Chronicle, The Daily Voice and Uptown Magazine.</p>

                <p>A skilled political organizer with over a decade's worth of grassroots organizing experience, his recent efforts with the blacklivesmatter movement in Ferguson, Missouri has been profiled by CNN and The London Times, among others. In addition to being an early Board Member of BGRG, Frank previously held positions with both GMHC and People of Color in Crisis. In 2005, he was responsible for the naming of The Rashawn Brazell Collective---a grassroots coalition committed to bringing an end to the brutality perpetrated against black LGBTQ communities. Educated at NYU and Yale, he is the recipient of the Ford Foundation Fellowship from the National Research Academies.</p> 
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Mitchell" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Mitchell.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Mitchell J. Wharton, PhD, RN, FNP-BC</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Mitchell J. Wharton, PhD, RN, FNP-BC, CNS has been a clinician, researcher and activist for Black MSM and HIV prevention for over a decade. Currently an Assistant Professor of Clinical Nursing at the University of Rochester, School of Nursing, his scholarly work focuses on identifying and describing asset-based modalities of HIV prevention and health maintenance for young Black MSM. He also maintains active clinical practice as a Family Nurse Practitioner in the Center for Peri-Operative Medicine at Strong Memorial Hospital.</p>

                <p>In addition to conducing research among YBMSM, Dr. Wharton serves as a faculty mentor for the CreatingResponsible Intelligent Black Brothers (CRIBB) Fellowship through NAESM, Inc. in Atlanta, GA, and as member of the Board of Directors for The MOCHA Center in Rochester, NY, a 501c3 in Western New York whose mission is, “to improve the health & wellness of LGBT communities of color.”</p> 
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Cleo" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Cleo.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Cleo Manago</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Bet on Black or We will lose!</p>
                
                <p>Cleo Manago is a behavioral health strategist, socio-political analyst, educator, community researcher and film documentarian.  Since 1988 he has founded several often emulated archetypes and national organizations, including the African, American Advocacy, Support-Services &amp; Survival Institute (or AmASSI Centers) and Black Men’s Xchange National (or BMX) - where he is CEO/Founder and President.  BMX is the nation's oldest and largest community-based movement devoted to the advocacy, affirmation, education and protection of diverse Black males. Projects are based throughout the US, in Hilbrow District, South Africa; and Brazil where Mr. Manago is working with Black Parliament officials there to reduce arbitrary assassinations of Black men and boys.  Manago has had transformative impact on the U.S. landscape, including with Minister Louis Farrakhan, the Nation of Islam, Rev. Al Sharpton, journalist Roland Martin, among other notables.  At the 2005, 10 year commemoration of the historic Million Man March, Farrakhan personally invited Cleo Manago to address an international audience on the DC mall.</p>
 
                <p>Feminist, and social activist bell hooks - has affirmed and underscored Mr. Manago's thinking in her book ‘We Real Cool: Black Men and Masculinity’.   His uniquely sharp perspectives have also resulted in appearances on numerous television networks and national radio appearing on Michel Martin’s 'Tell Me More', and the 'Michael Baisden' and 'Tom Joyner Morning' Shows. He is widely published, in research journals, with articles by or about him appearing in most of the nation’s newspapers, including the Final call.  Currently Mr. Manago is a primary contributor at TV One for News One Now with Roland Martin.</p>
                
                <p>In 2006 he founded Black Life Matters Media Company, producing activist-educational documentaries translated into both Spanish and Portuguese, project receiving rave reviews internationally. ‘I AM A MAN: Black Manhood &amp; Sexual Diversity' has been selected by numerous Pan African Film Festivals.  Mr. Manago is developer of the critically noted Critical Thinking and Cultural Affirmation (or CTCA) behavioral excellence intervention.  His works featured in numerous Master’s Theses, and PhD dissertations, he is community faculty at Charles Drew University of Science and Medicine in Los Angeles, and a former doctoral student at the California Institute for Integral Studies in San Francisco.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Typhanye" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Typhanye.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Typhanye P. Dyer, PhD, MPH</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Understanding Psychosocial, Behavioral and Substance Use Correlates of STI and HIV Risk among Men who have Sex with Men (MSM) and Men who have Sex with Men and Women (MSMW).</p>
                
                <p>Dr. Typhanye P. Dyer is an assistant professor in the Department of Epidemiology and Biostatistics, School of Public Health, University of Maryland College Park. She received her doctorate in Community Health Sciences from The University of California Los Angeles and completed a post-doctoral fellowship in drug dependence and infectious disease epidemiology at Johns Hopkins. Her research explores social, cultural and structural determinants of infectious disease disparities. Specifically, her research explores HIV/AIDS disparities, sexuality, mental health, and substance use with an emphasis in racial/ethnic and gender disparities among marginalized populations, as well as their families. Her focus in HIV/AIDS primarily examines syndemics and STI and HIV risk and infection among Black men who have sex with men and women (BMSMW), and how sex and drug risk networks of MSMW translates into risk for their male and female partners. Her work also explores intersections of racial identity, sexual identity and gender identity and expression among, addiction, stress and HIV-related clinical outcomes among Black gay/bisexual men. Collaborative research explores HIV-related stigma, engagement and retention in care and medication adherence among older Black women living with HIV in Prince George's County, Maryland. Additionally, areas of research involves the examination of risk for females with high risk male sex partners and partners who have been incarcerated, exploring social vulnerability including stigma and discrimination that drive risk. Population based research takes an interdisciplinary approach involving social epidemiology and community based research to reduce health disparities. Dr. Dyer has been an HIV/AIDS Translational Training Program Fellow (R25 MH-080644: PI: Wyatt), an HIV Prevention Trials Network (U01 068619: PI: Vermund), as well as the DC Center for AIDS Research and The National Black Women’s HIV/AIDS Network. Her research has also been supported by The National Institute on Minority Health and Health Disparities. Dr. Dyer’s syndemics work is currently funded by the Nationan Institute on Drug Abuse (R03 DA- 037131: PI: Penniman-Dyer). Dr. Dyer is committed to disparities research among Black men and women. </p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="Ayana" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Avana.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Ayana Elliott, DNP, APRN, FNP-C</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Ayana Elliott is a Doctor of Nursing Practice and a certified Family Nurse Practitioner with clinical expertise in family medicine, medical oncology, HIV and transgender health. In collaboration with institutions across the nation, Dr. Elliott's research focuses on health promotion, prevention, and primary care for adolescent MSM and transgender persons of color in studies that will identify novel strategies in the prevention of HIV/AIDS, determine structural barriers to testing, prevention and treatment of HIV, and methodologies to enhance the quality of care to HIV+ transgender women of color. As an entrepreneur and a self-made brand, she serves as the principal and lead health consultant for The Elliott Group, LLC. Dr. Elliott is currently the Director of Health Services at the University of the District of Columbia in Washington, DC.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Cilas.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Dr. Cilas Kemedijo</h3>
              <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>Cilas Kemedjio is Associate Professor of Francophone and French Studies and Director of the Frederick Douglass Institute for African and African-American Studies at the University of Rochester.</p>
                <p>Research interests include the articulation of the shared destinies and misunderstandings that circulate in the realm of transnational black studies, critical investigations of unequal encounters that are made possible by humanitarian interventions, and the genealogy of subjugation and resistance that is exhibited in the representations of the black body. Recents publications include “The Suspect Nation: Globalization and the Postcolonial Imaginary” Yale French Studies, 120 (2011), 111-126 and a monograph on Cameroonian writer and activist Mongo Beti - Le combattant fatigué. Une biographie intellectuelle. Berlin, Münster, London: LIT Verlag, 2013. Kemedjio is working on a collective volume on Critical Investigations Into Humanitarian Interventions in Africa (with Cecelia Lynch, University of California, Irvine). The presentation is part of his current research on “The Humanitarian Misunderstanding: Remembering Globalization.”</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a name="DaShaw" class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/DaShawn.jpg')}}) no-repeat;"></a>
            <h3 class="titley">DaShawn Usher</h3>
            <div class="yellowBox">
              <div class="col12of12 content">
                
                <p>DaShawn Usher is an HIV prevention advocate and health communicator, who has worked in the field of public health for the past eight years. He has extensive experience in HIV prevention services, recruitment, program coordination, community mobilization, and social media. As the Community Education and Recruitment Manager at the New York Blood Center – Project ACHIEVE, DaShawn continues to engage underserved and underrepresented communities into research trials through effective community education and targeted recruitment. DaShawn is the current Vice Chair of the Young Black Gay Leadership Initiative (YBGLI), Director of Community Outreach for Impulse Group NYC, and the Health Editor for DBQ Magazine. In addition to these roles, DaShawn is a Planning Committee Member for the U.S. Department of Health and Human Services (HHS) Saving The Lives of the Men We Care About Workgroup. He continues to advocate nationally for biomedical education and access as a proud member of AVAC’s PxROAR Program. In 2014, DaShawn was named as one of the 100 Black LGBTQ/SGL Emerging Leaders to Watch by The National Black Justice Coalition (NBJC). DaShawn received his Bachelor of Science in Mass Communication with a concentration in Public Relations with a double minor in Global Studies and Writing from Middle Tennessee State University.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Christopher.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Christopher Jones</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                <p>Black MSM, HIV, and the Primordial: A Case for Burning Condoms</p>
                
                <p>Christopher Jones is Baptist minister, chaplain, writer, artist, burgeoning activist, and former journalist who has written about race, pop-culture, religion/faith and HIV/AIDS for noted publications. As a chaplain, he is the founder of Griot Works Pastoral Services, which offers spiritual direction and chaplaincy to marginalized communities (persons of color within LGBTQ community and/or affected by HIV/AIDS); and he is affiliated with the College of Pastoral Supervision and Psychotherapy. He is originally from Tennessee and holds a Master of Divinity degree from The Interdenominational Theological Center (Atlanta) and a Master of Arts degree in Psychiatry and Religion from Union Theological Seminary (NYC).  He currently is a Site Manager for Services and Advocacy for GLBT Elders (SAGE) based in NYC and oversees their Harlem Center, which primarily services communities of color in Harlem, East Harlem and the Bronx. In his leisure, he enjoys theater, music, jogging, and traveling.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

                    <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Kirk.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Kirk Myers, CEO, MPH</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p>Kirk D. Myers is the founder and President/CEO of Abounding Prosperity, Inc. The agency’s mission is to address health, social and economic disparities among Black men including gay, bisexual and Transgender male-to-female individuals and their families living in Dallas County, Texas. In fulfilling this mission, Mr. Myers has drawn upon his extensive networks among Black men's organizations such as his leadership in the Texas Black Gay Network where he was a founding member for the Dallas chapter as well as the State of Texas Community Planning Group (CPG) where he has served in many positions including chair of the interventions committee. He is also a member the City of Dallas LGBT Task Force. A tireless advocate for Black men, Mr. Myers’s activism and community mobilization efforts have focused attention on the issues of equity and service pertaining to eradicating the disproportionate impacts of HIV/AIDS in Black communities, in particular.  His advocacy and community mobilization efforts have also served to assist Black men in their transitions from prison back into society especially the previously incarcerated in need of housing. Additionally, Black men recovering from substance abuse are also a topic of serious concern.</p>
                <p> In all of these efforts, Mr. Myers has been involved in both the public and private sector to influence policies affecting Black men especially access to the scientifically-advanced, biomedical interventions and research on behalf of Blacks living in the South. He has conducted trainings, offered capacity building assistance, and facilitated workshops all towards the goal of disseminating information meant to inform Black men of their human rights to healthy lives and general well-being. For example, the Centers for Disease Control and Prevention in Atlanta, Georgia have called on Mr. Myers to provide expertise on the health issues pertaining to Black Men who have sex with Men (MSM) and young, MSM.</p>
                <p>Prior to founding Abounding Prosperity, Mr. Myers worked in various capacities at several AIDS Service Organizations (ASO’s) in Dallas, preparing himself for his leadership role of today. He also worked in the corporate sphere for a time as a professional consultant, traveling abroad to offer training to international audiences. In addition, he has served on several, different nonprofit boards, holding a variety of positions. </p>
                <p>Mr. Myers holds a Masters of Public Health degree; and, currently resides in DeSoto, Texas.</p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Gregory.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Gregory W. Edwards, PhD</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p>Dr. Gregory W. Edwards is a seasoned professional and has worked extensively as an executive administrator and management consultant specialist. He has served as an independent contractor for the federal government but also as executive director and researcher for a Bay Area HIV clinical trials organization; as a vice-president of health services at a NYC-based national HIV and homelessness organization; and as chief executive officer for a national foundation. He holds both masters and doctoral degrees from Harvard University.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Harris.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Orlando O. Harris, PhD, RN, FNP</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p>Dr. Harris is a Family Nurse Practitioner in the State of New York. He is interested in preserving the health and wellbeing of young Afro-Caribbean men, both here in the United States, and within the diaspora. He received a Bachelor’s of Science in Nursing, a Bachelors of Science in Human Development, and a Bachelors of Arts in Africana studies simultaneously from the State University of New York at Binghamton. He received his Masters and PhD from the School of Nursing at the University of Rochester. Dr. Harris’s research interests include gender and racial studies, and the sexual health practices of young adolescent men. </p>
                <p> Dr. Harris was a 2012-2013 US Fulbright Fellow to Jamaica, where he conducted in-depth collaborative research with high risk sexual minorities.  Before leaving for Jamaica, Dr. Harris worked for many years for the Monroe County Department of Health, in Western New York, as a Nurse Practitioner in their STI program.  He has completed a fellowship in adolescent health at the Golisano Children’s Hospital, at the University of Rochester Medical Center. He is currently an assistant professor of clinical nursing at the University of Rochester, School of Nursing. Dr. Harris is currently the director for laboratory services for the Men of Color Health Awareness Project (MOCHA) Center in Rochester, NY. </p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Tomas.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Tomás Boatwright</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p>Tomás Boatwright is an educator, researcher and Ph.D. candidate of Education at The Warner School of Education at the University of Rochester. His academic training is in teaching and curriculum with a concentration on identity, diversity, intersectionality, queer theories, youth cultures, gender studies and feminist theories. Tomás is also a trained qualitative researcher and utilizes narrative research methods to explore the complex identities and lived experiences of LGBTQI youth of color. </p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Verdell.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Verdell A. Wright</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p>Verdell A. Wright is a doctoral student at Howard University, where he studies communications and culture. His previous educational pursuits are a Masters of Divinity from Howard University, and a Masters of Theological Study from Wesley Theological Seminary, where he presented a thesis on Evangelical Christian culture.  He also serves as a minister at Lincoln Temple, an open and affirming congregation of the United Church of Christ. Verdell hopes that his efforts will lead to a more just world for all.</p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>

          <div class="col1of3 autocontent autocontent220">
            <a class="center circular mb-15" style="background: url({{asset('bundles/sitewebfront/img/Paige.jpg')}}) no-repeat;"></a>
            <h3 class="titley">Mark Paige</h3>
            <div class="yellowBox">
              <div class="col12of12 content">  
                
                <p>Mark Paige is the Project Manager within the Laboratory of Social and Behavioral Sciences of the Lindsley F. Kimball Research Institute a division of New York Blood Center (NYBC). He directs project CHHANGE: Challenge HIV Stigma & Homophobia and Gain Empowerment a NIH-funded research study to test community-level anti-HIV stigma and homophobia intervention, focused on reducing the negative impact of HIV stigma and homophobia on young African American/Black gay, bisexual and other men who have sex with men. The intervention is focused on a neighborhood in Brooklyn, with high HIV prevalence among BMSM. The project is co-directed by academic researchers at the New York Blood Center and Gay Men of African Descent (GMAD), and a Steering Committee composed of LGBTQ and community leaders. Before coming to the New York Blood Center, Mark Paige worked as a contractor and Parent Advocate for Project Ally. He also worked as a contractor and Interviewer for Better World Advertising on HIV Stops with Me media campaign. Formerly, Mark Paige had an extensive carrier as the Chair of The Theology Department and as the Director of Campus Ministry for Bishop Frances Essex Catholic College Prepatory, and at Rice College Prepatory; within both institutions he also taught Christian Theology and Religious Studies. He also worked for many years within the Episcopal Church of the Diocese of Brooklyn. Mark Paige holds a Masters of Art in Pastoral Ministry from Caldwell University and a dual Bachelor of Art from Saint Leo’s University in Sociology and Religious Studies.He is also a graduate of the Fashion Institute of Technology (FIT) State University of New York, where he majored in Accessories Design. He has earned many credits within Mercedes-Benz New York Fashion Week, where he has shown on the catwalk within Lincoln Center for the last 5 years a number of his women’s handbags. Mark Paige is also a liturgical vestments and religious garment designer and manufacturer. His accessories company is called Mark Paige Accessory Collection, LLC. Mark Paige often says, “With inspiration from my Higher Power, I am a proud Black Gay man, who has been given many magnificent gifts and talents and experiences to use within the world to help myself, as well as others to see that peace and serenity is obtainable if we look within.”</p>

              </div>
              <div class="clearfix"></div>
            </div>
          </div>               
 
          <div class="clearfix"></div>

          


{%endblock%}



