{% extends 'SitewebFrontBundle::layout.html.twig' %}
{% block content %}
    <link href="{{ asset('bundles/sitewebfront/timepicki/css/timepicki.css') }}" rel="stylesheet">
    <script type="text/javascript" language="javascript" src="{{ asset('bundles/sitewebfront/timepicki/js/timepicki.js') }}"></script>
<style>
    .time_pick {
        position: relative;
        width: 205px;
        float: left;
    }
    .label-92-pad {
        width: 72px;
        padding-left: 20px;
        display: inline-block;
        float: left;
    }
    .timepicker_wrap {
        width: 245px;
        padding: 10px;
        border-radius: 5px;
        z-index: 998;
        display: none;
        box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
        background: #f6f6f6;
        border: 1px solid #ccc;
        float: left;
        position: absolute;
        top: 27px;
        left: 0;
    }
</style>
    <div class="page-top">
        <h1 class="page-title btn-yellow-124">Abstract Submission</h1>
        <p></p>
    </div>
    <div class="main-left">
        <h3 class="titley">Meeting Proposal FORM</h3>
        <br/>


        <p><span class="field-required required-helper">*Required fields</span></p>
        <div class="clearfix"></div>
        {{ form_errors(form) }}

       {{ form_start(form) }}
            <div class="section-0">
                <div class="form-group-326">
                    <label for="SubmitterName" class="label-105">Location<span class="field-required">*</span></label>
                    {{ form_widget(form.location,{'attr':{'class':'input-200 input-yellow' } }) }}
                </div>
                <div class="form-group-326">
                    <label for="SubmitterEmail" class="label-92-pad">Time<span class="field-required">*</span></label>
                    {{ form_widget(form.time,{'attr':{'class':'input-200 input-yellow' } }) }}
                </div>
                <div class="clearfix"></div>
            </div>
        {{ form_widget(form._token) }}
        {{ form_widget(form.submit,{'attr':{'class':'btn-red-146 btn-submit' } }) }}

        </form>
    </div>
    <script type='text/javascript'>
        $('#siteweb_backbundle_meeting_time').timepicki({
            show_meridian:true,
            min_hour_value:0,
            step_size_minutes:15,
            overflow_minutes:true,
            increase_direction:'up',
            disable_keyboard_mobile: true
        });
    </script>
{%endblock%}