{% extends 'SitewebFrontBundle::layout.html.twig' %}

{% block content %}
    <ul class="side-menu">
      <li><a>About Us</a>
        <ul>
            <li><a href="/aboutus/mission">Mission</a></li>
            <li><a href="/aboutus/our-work">Our Work</a></li>
            <li><a href="/aboutus/our-services">Our Services</a></li>
            <li><a href="/aboutus/research-agenda">Research Agenda</a>
                <ul style="display:none;">
                    <li><a>Executive Summary</a></li>
                    <li><a>Introduction</a></li>
                    <li><a>Background</a></li>
                    <li><a>Methodologies</a></li>
                    <li><a>Recommendations</a></li>
                    <li><a>Conclusions</a></li>
                    <div class="clearfix"></div>
                </ul>
            </li>
            <li class="selected"><a href="">BGRG Summits</a>
                <ul>
                    <li class="selected"><a href="/aboutus/bgrg-summit/2005">2005</a></li>
                    <li><a href="/aboutus/bgrg-summit/2010">2010</a></li>
                    <li><a href="/aboutus/bgrg-summit/2012">2012</a></li>
                    <div class="clearfix"></div>
                </ul>
            </li>
            <li><a href="#">Annual Reports</a>
                <ul>
                    <li><a href="/aboutus/annual-report/2008">2008</a></li>
                    <li><a href="/aboutus/annual-report/2009">2009</a></li>
                    <li><a href="/aboutus/annual-report/2010">2010</a></li>
                    <div class="clearfix"></div>
                </ul>
            </li>
            <li><a href="/aboutus/posts/a-way-forward">Posts &amp; News</a></li>
        </ul>    
      </li>
    </ul>

    <main class="content contentRich" id="content">
        <header class="content-header">
            <h1>BGRG Summits</h1>
            <div class="clearfix"></div>
            <hr class="book-header">
            <div class="font-size-control" style="display:none;">
                <a class="smaller" onclick="resizeText(-1)">-</a>
                <p>A<span>A</span></p>
                <a class="bigger" onclick="resizeText(1)">+</a>
            </div>
            <div class="clearfix"></div>
        </header>        
        <section>


            <h2>2005 Brooklyn, New York</h2>
            <p><span class="drop-capp">'U</span>ntying tongues: Black Gay Men in Research, Service and Scholarship', was held August 3-5, 2005 in Brooklyn, NY. The keynote speakers included Keith Boykin, J.D., one of the nation’s leading commentators on race, sexuality & politics; and renowned physician and scientist David J. Malebranche, M.D., M.P.H. from Emory University. Charles Nero, Ph.D. from Bates College provided the socio-historical and political context of scholarly work on Black gay men during the Opening Plenary. Thomas Glave, a caribbean gay writer and professor at Binghamton University, conducted a reading from some of his pioneering work. Both Nero and Glave have made substantial contributions to literary work being conducted on Black gay men.</p>

            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0013.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0013.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0014.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0014.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0015.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0015.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0016.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0016.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0017.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0017.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0018.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0018.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0019.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0019.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0020.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0020.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0021.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0021.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0022.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0022.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0023.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0023.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0024.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0024.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0025.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0025.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0026.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0026.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0027.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0027.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0028.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0028.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0029.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0029.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0030.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0030.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0031.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0031.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0032.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0032.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0033.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0033.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0034.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0034.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0035.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0035.jpg')}}"/>
            </a>
            <a href="{{asset('bundles/sitewebfront/img/summits/summit_2005_0036.jpg')}}" data-lightbox="summit2005">
                <img class="lbox" src="{{asset('bundles/sitewebfront/img/summits/thumbs/summit_2005_0036.jpg')}}"/>
            </a>
        </section>
    </main>

{%endblock%}
